Repository Project-Pandora-Game/pandora, pull requests merged in 2023-12, with the labels that each got.

#458 [REFACTOR] Merge slot system into attribute system
  pandora-client-web/src/assets/appearanceValidation.ts
  pandora-client-web/src/components/chatroom/chatroomMessages.tsx
  pandora-client-web/src/components/wardrobe/wardrobeComponents.tsx
  pandora-client-web/src/graphics/graphicsCharacter.tsx
  pandora-common/src/assets/appearanceActions.ts
  pandora-common/src/assets/appearanceValidation.ts
  pandora-common/src/assets/asset.ts
  pandora-common/src/assets/assetManager.ts
  pandora-common/src/assets/definitions.ts
  pandora-common/src/assets/item.ts
  pandora-common/src/assets/properties.ts
  pandora-common/src/character/restrictionsManager.ts
Labels: Type: Improvement, Component: Asset framework

#464 [ADD] State flag support for room devices
  pandora-common/src/assets/item.ts
  pandora-common/src/assets/roomDeviceProperties.ts
Labels: Type: Feature, Component: Asset framework

#459 [FEATURE] preview cutter
  pandora-client-web/src/common/downloadHelper.ts
  pandora-client-web/src/components/exportImport/exportDialog.tsx
  pandora-client-web/src/components/input/numberInput.tsx
  pandora-client-web/src/components/settings/interfaceSettings.tsx
  pandora-client-web/src/components/wardrobe/views/wardrobeAssetView.tsx
  pandora-client-web/src/components/wardrobe/views/wardrobeItemView.tsx
  pandora-client-web/src/components/wardrobe/views/wardrobeOutfitEditView.tsx
  pandora-client-web/src/components/wardrobe/views/wardrobeOutfitView.tsx
  pandora-client-web/src/components/wardrobe/views/wardrobeRoomInventoryView.tsx
  pandora-client-web/src/components/wardrobe/wardrobeComponents.tsx
  pandora-client-web/src/editor/assets/assetManager.ts
  pandora-client-web/src/editor/components/assets/assets.tsx
  pandora-client-web/src/editor/components/previewCutter/previewCutter.scss
  pandora-client-web/src/editor/components/previewCutter/previewCutter.tsx
  pandora-client-web/src/editor/graphics/character/appearanceEditor.ts
  pandora-client-web/src/editor/graphics/editorScene.tsx
  pandora-client-web/src/editor/graphics/export/imageExporter.ts
  pandora-client-web/src/editor/graphics/layer/resultLayer.tsx
  pandora-common/src/assets/definitions.ts
  pandora-common/src/networking/directory_client.ts
Labels: Type: Feature, Component: Core, Component: Asset Editor

#466 [CHANGE] improvements based on Steffi's feedback
  pandora-client-web/src/components/chatroom/commands.ts
  pandora-client-web/src/components/chatroomSelect/chatroomSelect.tsx
  pandora-client-web/src/components/common/tabs/tabs.tsx
  pandora-client-web/src/components/header/Header.tsx
  pandora-client-web/src/components/releationships/relationships.tsx
  pandora-client-web/src/components/settings/accountSettings.tsx
  pandora-client-web/src/components/settings/characterSettings.tsx
  pandora-client-web/src/components/wiki/pages/greeting.tsx
  pandora-client-web/src/components/wiki/pages/intro.tsx
  pandora-client-web/src/icons/body-change.svg
  pandora-client-web/src/icons/closed-door.svg
  pandora-client-web/src/icons/developer.svg
  pandora-client-web/src/icons/magnifier.svg
  pandora-client-web/src/icons/male-female.svg
  pandora-client-web/src/icons/opened-door.svg
  pandora-client-web/src/icons/private-door.svg
  pandora-client-web/src/icons/public-door.svg
  pandora-client-web/src/routing/Routes.tsx
Labels: Type: Improvement, Component: Client

#465 [CHANGE] Room devices setup rework
  .vscode/settings.json
  pandora-client-web/src/assets/appearanceValidation.ts
  pandora-client-web/src/components/chatroom/chatRoomDevice.tsx
  pandora-client-web/src/components/chatroom/chatRoomScene.tsx
  pandora-client-web/src/components/chatroom/chatroomControls.tsx
  pandora-client-web/src/components/chatroom/contextMenus/deviceContextMenu.tsx
  pandora-client-web/src/components/gameContext/chatRoomContextProvider.tsx
  pandora-client-web/src/components/wardrobe/itemDetail/wardrobeItemRoomDevice.tsx
  pandora-client-web/src/components/wardrobe/wardrobeContext.tsx
  pandora-client-web/src/components/wardrobe/wardrobeUtils.ts
  pandora-client-web/src/editor/components/wardrobe/wardrobe.tsx
  pandora-client-web/src/graphics/movementHelper.tsx
  pandora-common/src/assets/appearanceActions.ts
  pandora-common/src/assets/effects.ts
  pandora-common/src/character/restrictionsManager.ts
  pandora-common/src/chatroom/room.ts
  pandora-server-shard/src/room/room.ts
Labels: Type: Improvement, Component: Client, Component: Asset framework

#468 [FIX] Hotfix: Make account profile work for non-single-digit accounts
  pandora-client-web/src/components/profileScreens/profileScreens.tsx
Labels: Component: Client, Type: Fix

#470 [CHANGE] Make logging to file asynchronous
  pandora-common/src/logging.ts
  pandora-server-directory/src/index.ts
  pandora-server-directory/src/logging.ts
  pandora-server-directory/test/logging.test.ts
  pandora-server-shard/src/index.ts
  pandora-server-shard/src/logging.ts
  pandora-server-shard/test/logging.test.ts
Labels: Type: Improvement, Component: Shard server, Component: Directory server

#471 [CHANGE] relicensing everything to LGPL
  .github/workflows/common-install-check/package.json
  LICENSE
  README.md
  pandora-client-web/README.md
  pandora-client-web/package.json
  pandora-client-web/src/icons/licence.txt
  pandora-common/LICENSE
  pandora-common/package.json
  pandora-server-directory/LICENSE
  pandora-server-directory/README.md
  pandora-server-directory/package.json
  pandora-server-shard/LICENSE
  pandora-server-shard/README.md
  pandora-server-shard/package.json
  pandora-tests/LICENSE
  pandora-tests/package.json
Labels: Component: Tooling, Component: Core

#472 [DEV] Contributor license agreement
  contributor-licence-agreement.md
Labels: Type: Documentation

#474 [DEV] Add contributing guidelines
  CONTRIBUTING.md
Labels: Type: Documentation

#473 [FIX] Fix room deletion (last owner abandoning ownership)
  pandora-server-directory/src/account/character.ts
  pandora-server-directory/src/networking/manager_client.ts
  pandora-server-directory/src/room/room.ts
  pandora-server-directory/src/room/roomManager.ts
  pandora-server-directory/test/room/room.test.ts
  pandora-server-directory/test/room/roomManager.test.ts
Labels: Component: Directory server, Type: Fix

#475 [CHANGE] wardrobe preview style
  pandora-client-web/src/components/common/button/button.scss
  pandora-client-web/src/components/wardrobe/views/wardrobeItemView.tsx
  pandora-client-web/src/components/wardrobe/views/wardrobeRoomInventoryView.tsx
  pandora-client-web/src/components/wardrobe/wardrobe.scss
  pandora-client-web/src/components/wardrobe/wardrobeComponents.tsx
Labels: Type: Improvement, Component: Client

#478 [CHANGE] Small change to clarify one line.
  CONTRIBUTING.md
Labels: Type: Documentation

#477 [FEATURE] Room inventory wardrobe preview
  pandora-client-web/src/components/chatroom/chatRoomCharacter.tsx
  pandora-client-web/src/components/chatroom/chatRoomDevice.tsx
  pandora-client-web/src/components/chatroom/chatRoomScene.tsx
  pandora-client-web/src/components/gameContext/chatRoomContextProvider.tsx
  pandora-client-web/src/components/wardrobe/itemDetail/wardrobeItemRoomDevice.tsx
  pandora-client-web/src/components/wardrobe/wardrobe.scss
  pandora-client-web/src/components/wardrobe/wardrobe.tsx
  pandora-client-web/src/components/wardrobe/wardrobeContext.tsx
  pandora-client-web/src/components/wardrobe/wardrobeGraphics.tsx
  pandora-client-web/src/components/wardrobe/wardrobeItems.tsx
  pandora-client-web/src/components/wardrobe/wardrobeTypes.ts
  pandora-client-web/src/editor/components/wardrobe/wardrobe.tsx
Labels: Type: Feature, Component: Client, Component: Graphics

#480 [FEATURE] Graphics suspense
  pandora-client-web/src/graphics/graphicsCharacter.tsx
  pandora-client-web/src/graphics/graphicsSuspense/graphicsSuspense.tsx
  pandora-client-web/src/graphics/useTexture.ts
Labels: Type: Feature, Component: Graphics

#481 [FIX] Do not remove room device link unless revalidating
  pandora-common/src/assets/item.ts
  pandora-common/src/assets/state/characterState.ts
Labels: Type: Fix, Component: Asset framework

#482 [FIX] CharacterMenu crashing while changing character if open
  pandora-client-web/src/components/header/Header.tsx
Labels: Component: Client, Type: Fix

#483 [FIX] Fix character movement by properly forwarding ref to the display object
  pandora-client-web/src/components/chatroom/chatRoomCharacter.tsx
Labels: Component: Graphics, Type: Fix

#484 [FIX] Fixes and improvements for graphics suspense and editor
  pandora-client-web/src/components/gameContext/directoryConnectorContextProvider.tsx
  pandora-client-web/src/graphics/graphicsCharacter.tsx
  pandora-client-web/src/graphics/graphicsSceneRenderer.tsx
  pandora-client-web/src/graphics/graphicsSuspense/graphicsSuspense.tsx
Labels: Type: Improvement, Component: Graphics, Type: Fix, Component: Asset Editor

#485 [CHANGE] UI improvements in settings and editor help for cutter
  pandora-client-web/src/components/common/fieldsetToggle/fieldsetToggle.scss
  pandora-client-web/src/components/dialog/dialog.scss
  pandora-client-web/src/components/help/contextHelpButton.scss
  pandora-client-web/src/components/help/contextHelpButton.tsx
  pandora-client-web/src/components/settings/interfaceSettings.tsx
  pandora-client-web/src/components/wardrobe/wardrobe.scss
  pandora-client-web/src/components/wardrobe/wardrobeComponents.tsx
  pandora-client-web/src/components/wiki/pages/intro.tsx
  pandora-client-web/src/editor/components/previewCutter/previewCutter.scss
  pandora-client-web/src/editor/components/previewCutter/previewCutter.tsx
Labels: Type: Improvement, Component: Client, Component: Asset Editor

#488 [ADD] further length checks
  pandora-client-web/src/components/directMessage/directMessage.tsx
  pandora-client-web/src/networking/directMessageManager.ts
  pandora-common/src/character/characterData.ts
  pandora-common/src/chatroom/chat.ts
  pandora-common/src/inputLimits.ts
  pandora-common/src/networking/client_directory.ts
  pandora-common/src/networking/client_shard.ts
  pandora-common/src/validation.ts
  pandora-server-directory/src/database/databaseStructure.ts
Labels: Type: Improvement, Component: Client, Component: Core

#486 [FEATURE] asset preferences for characters
  pandora-client-web/src/assets/appearanceValidation.ts
  pandora-client-web/src/character/character.ts
  pandora-client-web/src/components/wardrobe/views/wardrobeAssetView.tsx
  pandora-client-web/src/components/wardrobe/wardrobe.scss
  pandora-client-web/src/components/wardrobe/wardrobe.tsx
  pandora-client-web/src/components/wardrobe/wardrobePreferencesGui.tsx
  pandora-client-web/src/editor/graphics/character/appearanceEditor.ts
  pandora-client-web/src/graphics/graphicsCharacter.tsx
  pandora-client-web/test/character/character.test.ts
  pandora-client-web/test/character/player.test.ts
  pandora-common/src/assets/appearance.ts
  pandora-common/src/assets/appearanceTypes.ts
  pandora-common/src/assets/appearanceValidation.ts
  pandora-common/src/assets/asset.ts
  pandora-common/src/assets/assetManager.ts
  pandora-common/src/assets/base.ts
  pandora-common/src/assets/definitions.ts
  pandora-common/src/assets/graphics/graphics.ts
  pandora-common/src/assets/index.ts
  pandora-common/src/assets/item.ts
  pandora-common/src/assets/modules.ts
  pandora-common/src/character/assetPreferences.ts
  pandora-common/src/character/characterData.ts
  pandora-common/src/character/index.ts
  pandora-common/src/character/restrictionsManager.ts
  pandora-common/src/gameLogic/character/character.ts
  pandora-common/src/gameLogic/character/characterClient.ts
  pandora-common/src/gameLogic/character/characterServer.ts
  pandora-common/src/networking/client_shard.ts
  pandora-common/src/utility.ts
  pandora-server-directory/src/database/dbHelper.ts
  pandora-server-shard/package.json
  pandora-server-shard/src/character/character.ts
  pandora-server-shard/src/networking/manager_client.ts
  pandora-server-shard/src/room/room.ts
  pnpm-lock.yaml
Labels: Type: Feature, Component: Client, Component: Shard server, Component: Core

#490 [FEATURE] timeout mode
  pandora-client-web/src/assets/appearanceValidation.ts
  pandora-client-web/src/character/character.ts
  pandora-client-web/src/components/characterRestrictionOverride/characterRestrictionOverride.tsx
  pandora-client-web/src/components/characterSafemode/characterSafemode.tsx
  pandora-client-web/src/components/chatroom/chatroomControls.tsx
  pandora-client-web/src/components/gameContext/gameContextProvider.tsx
  pandora-client-web/src/components/header/leaveButton.tsx
  pandora-client-web/src/components/wardrobe/wardrobe.tsx
  pandora-client-web/src/components/wardrobe/wardrobeUtils.ts
  pandora-client-web/src/editor/components/wardrobe/wardrobe.tsx
  pandora-client-web/src/editor/editor.tsx
  pandora-common/src/assets/appearance.ts
  pandora-common/src/assets/appearanceActions.ts
  pandora-common/src/assets/item.ts
  pandora-common/src/assets/state/characterState.ts
  pandora-common/src/character/restrictionsManager.ts
  pandora-common/src/chatroom/chatActions.ts
  pandora-server-shard/src/networking/socketio_directory_connector.ts
Labels: Type: Feature, Component: Client, Component: Core

#495 [FEATURE] shortcuts for bold and italic formatting
  pandora-client-web/src/common/useTextFormattingOnKeyboardEvent.ts
  pandora-client-web/src/common/useWrappedRef.ts
  pandora-client-web/src/components/chatroom/chatInput.tsx
  pandora-client-web/src/components/chatroom/commandsProcessor.ts
  pandora-client-web/src/components/directMessage/directMessage.tsx
Labels: Type: Improvement, Component: Client

#496 [CHANGE] text formatting improvements
  pandora-client-web/src/common/useTextFormattingOnKeyboardEvent.ts
  pandora-client-web/src/common/useWrappedRef.ts
Labels: Type: Improvement

#498 [CHANGE] Item limits UI improvements
  pandora-client-web/src/assets/appearanceValidation.ts
  pandora-client-web/src/components/common/select/select.tsx
  pandora-client-web/src/components/wardrobe/views/wardrobeAssetView.tsx
  pandora-client-web/src/components/wardrobe/wardrobe.scss
  pandora-client-web/src/components/wardrobe/wardrobe.tsx
  pandora-client-web/src/components/wardrobe/wardrobeBody.tsx
  pandora-client-web/src/components/wardrobe/wardrobeComponents.tsx
  pandora-client-web/src/components/wardrobe/wardrobeItemPreferences.tsx
  pandora-client-web/src/components/wardrobe/wardrobeItems.tsx
  pandora-client-web/src/components/wardrobe/wardrobePreferencesGui.tsx
  pandora-client-web/src/graphics/graphicsCharacter.tsx
  pandora-common/src/assets/assetManager.ts
  pandora-common/src/assets/definitions.ts
  pandora-common/src/character/assetPreferences.ts
  pandora-common/src/character/restrictionsManager.ts
  pandora-common/src/networking/client_shard.ts
  pandora-server-shard/src/character/character.ts
Labels: Type: Improvement, Component: Client, Component: Asset framework

#502 [FEATURE] mark edited message, scroll on mode change
  pandora-client-web/src/components/chatroom/chat.tsx
  pandora-client-web/src/components/chatroom/chatInput.tsx
  pandora-client-web/src/components/chatroom/chatroom.scss
Labels: Type: Improvement, Component: Client

#501 [FIX] warn user if ban/kick would fail due to the target being an admin
  pandora-client-web/src/components/chatroom/commands.ts
  pandora-client-web/src/components/chatroom/contextMenus/characterContextMenu.tsx
  pandora-client-web/src/components/chatroomAdmin/chatroomAdmin.scss
  pandora-client-web/src/components/chatroomAdmin/chatroomAdmin.tsx
  pandora-server-directory/src/room/room.ts
Labels: Type: Improvement, Component: Client, Component: Directory server
