Repository Project-Pandora-Game/pandora, pull requests merged in 2023-10, with the labels that each got.

#418 [FEATURE] zod env
  pandora-client-web/src/config/Environment.ts
  pandora-client-web/src/config/definition.ts
  pandora-client-web/webpack.config.ts
  pandora-common/src/environment.ts
  pandora-common/src/index.ts
  pandora-server-directory/src/account/account.ts
  pandora-server-directory/src/account/accountRoles.ts
  pandora-server-directory/src/account/accountSecure.ts
  pandora-server-directory/src/config.ts
  pandora-server-directory/src/database/databaseProvider.ts
  pandora-server-directory/src/database/mongoDb.ts
  pandora-server-directory/src/index.ts
  pandora-server-directory/src/networking/httpServer.ts
  pandora-server-directory/src/networking/manager_client.ts
  pandora-server-directory/src/services/discord/discordBot.ts
  pandora-server-directory/src/services/email/index.ts
  pandora-server-directory/src/services/email/smtpEmail.ts
  pandora-server-directory/src/shard/betaKeyStore.ts
  pandora-server-directory/src/shard/shardTokenStore.ts
  pandora-server-shard/package.json
  pandora-server-shard/src/assets/assetManager.ts
  pandora-server-shard/src/config.ts
  pandora-server-shard/src/database/databaseProvider.ts
  pandora-server-shard/src/database/mongoDb.ts
  pandora-server-shard/src/index.ts
  pandora-server-shard/src/metrics.ts
  pandora-server-shard/src/networking/connection_client.ts
  pandora-server-shard/src/networking/httpServer.ts
  pandora-server-shard/src/networking/socketio_directory_connector.ts
  pandora-tests/test/_setup/global_setup.ts
  pandora-tests/test/utils/server.ts
  pandora-tests/test/utils/utils.ts
  pnpm-lock.yaml
Labels: Type: Improvement, Component: Tooling, Component: Core

#420 [ADD] disconnect and reconnect messages
  pandora-common/src/chatroom/chatActions.ts
  pandora-server-directory/src/account/character.ts
  pandora-server-directory/src/room/room.ts
Labels: Type: Improvement, Component: Directory server

#421 [FEATURE] Friends UI Navigation
  pandora-client-web/.eslintrc.json
  pandora-client-web/src/components/chatroom/chatInput.tsx
  pandora-client-web/src/components/chatroom/commands.ts
  pandora-client-web/src/components/chatroom/commandsProcessor.ts
  pandora-client-web/src/components/chatroom/contextMenus/characterContextMenu.tsx
  pandora-client-web/src/components/common/tabs/tabs.tsx
  pandora-client-web/src/components/dialog/dialog.tsx
  pandora-client-web/src/components/directMessage/directMessage.tsx
  pandora-client-web/src/components/directMessages/directMessages.scss
  pandora-client-web/src/components/directMessages/directMessages.tsx
  pandora-client-web/src/components/management/betaKeys/betaKeys.tsx
  pandora-client-web/src/components/management/shards/shards.tsx
  pandora-client-web/src/components/releationships/relationships.tsx
  pandora-client-web/src/components/releationships/relationshipsContext.ts
  pandora-client-web/src/components/settings/accountSettings.tsx
  pandora-client-web/src/editor/components/asset/asset.tsx
  pandora-client-web/src/networking/directMessageManager.ts
  pandora-client-web/src/routing/Routes.tsx
  pandora-common/src/networking/directory_client.ts
Labels: Type: Improvement, Component: Client

#423 [FEATURE] Assets loader automatic retry
  pandora-client-web/src/assets/graphicsLoader.ts
  pandora-client-web/src/assets/graphicsManager.ts
  pandora-client-web/src/components/chatroom/chatRoomDevice.tsx
  pandora-client-web/src/editor/assetLoader.ts
  pandora-client-web/src/editor/graphics/character/appearanceEditor.ts
  pandora-client-web/src/editor/graphics/layer/editorLayer.tsx
  pandora-client-web/src/editor/graphics/layer/setupLayer.tsx
  pandora-client-web/src/editor/index.tsx
  pandora-client-web/src/graphics/graphicsLayer.tsx
  pandora-client-web/src/graphics/graphicsMaskLayer.ts
  pandora-client-web/src/graphics/pixiSettings.ts
  pandora-client-web/src/graphics/useTexture.ts
  pandora-client-web/src/graphics/utility.ts
  pandora-client-web/src/index.tsx
  pandora-client-web/test/asset/graphicsLoader.test.ts
Labels: Type: Improvement, Component: Client, Component: Graphics

#425 [FIX] Fix alphamask change sometimes not trigerring redraw
  pandora-client-web/src/components/wardrobe/views/wardrobeExpressionsView.tsx
  pandora-client-web/src/graphics/graphicsLayer.tsx
  pandora-client-web/src/graphics/graphicsMaskLayer.ts
Labels: Component: Graphics, Type: Fix

#424 [FIX] correctly load imported textures
  pandora-client-web/src/editor/graphics/draggable.tsx
  pandora-client-web/src/editor/graphics/layer/resultLayer.tsx
Labels: Component: Client, Type: Fix, Component: Asset Editor

#426 [ADD] Greeting for new players
  pandora-client-web/src/assets/editor/dotTexture.png
  pandora-client-web/src/assets/iconClare.png
  pandora-client-web/src/assets/maid.png
  pandora-client-web/src/assets/pandora_entrance.png
  pandora-client-web/src/components/characterSelect/characterSelect.tsx
  pandora-client-web/src/components/chatroom/commands.ts
  pandora-client-web/src/components/common/link/externalLink.tsx
  pandora-client-web/src/components/common/tabs/tabs.tsx
  pandora-client-web/src/components/help/helpUtils.tsx
  pandora-client-web/src/components/login/authFormDataProvider.tsx
  pandora-client-web/src/components/login/authFormRouter.tsx
  pandora-client-web/src/components/login/forms/useLoginForm.ts
  pandora-client-web/src/components/releationships/relationships.tsx
  pandora-client-web/src/components/wiki/pages/greeting.tsx
  pandora-client-web/src/components/wiki/wiki.scss
  pandora-client-web/src/components/wiki/wiki.tsx
  pandora-client-web/src/routing/Routes.tsx
Labels: Type: Improvement, Type: Feature, Component: Client

#429 [DEV] Fix flaky tests concerning time comparison
  pandora-server-directory/test/account/account.test.ts
  pandora-server-directory/test/account/accountSecure.test.ts
Labels: Component: Tooling, Type: Fix

#427 [REFACTOR] unify Service base type
  pandora-common/src/index.ts
  pandora-common/src/services/index.ts
  pandora-common/src/services/serviceManager.ts
  pandora-server-directory/src/account/accountManager.ts
  pandora-server-directory/src/database/databaseProvider.ts
  pandora-server-directory/src/database/mockDb.ts
  pandora-server-directory/src/database/mongoDb.ts
  pandora-server-directory/src/index.ts
  pandora-server-directory/src/lifecycle.ts
  pandora-server-directory/src/networking/manager_client.ts
  pandora-server-directory/src/room/roomManager.ts
  pandora-server-directory/src/services/discord/discordBot.ts
  pandora-server-directory/src/services/email/index.ts
  pandora-server-directory/src/services/email/mockEmail.ts
  pandora-server-directory/src/services/github/githubVerify.ts
  pandora-server-directory/src/shard/tokenStoreBase.ts
  pandora-server-directory/test/database/databaseProvider.test.ts
  pandora-server-directory/test/database/mockDb.test.ts
  pandora-server-directory/test/database/mongoDb.test.ts
  pandora-server-directory/test/utils.ts
  pandora-server-shard/src/database/databaseProvider.ts
  pandora-server-shard/src/database/directoryDb.ts
  pandora-server-shard/src/database/mongoDb.ts
  pandora-server-shard/src/lifecycle.ts
Labels: Type: Improvement, Component: Shard server, Component: Core, Component: Directory server

#196 [ADD] Background tag filtering UI
  pandora-client-web/src/components/chatroomAdmin/chatroomAdmin.scss
  pandora-client-web/src/components/chatroomAdmin/chatroomAdmin.tsx
  pandora-client-web/src/components/dialog/dialog.scss
  pandora-client-web/src/components/dialog/dialog.tsx
Labels: Status: Draft, Type: Feature, Component: Client

#436 [FIX] Fix DiscordBot hanging shutdown when not in use
  pandora-server-directory/src/lifecycle.ts
  pandora-server-directory/src/services/discord/discordBot.ts
Labels: Component: Directory server, Type: Fix

#435 [CHANGE] Login preview, input limiting, and chatroom preview
  .vscode/launch.json
  pandora-client-web/.env.template
  pandora-client-web/src/assets/pandora_entrance.png
  pandora-client-web/src/character/player.ts
  pandora-client-web/src/components/characterCreate/characterCreate.tsx
  pandora-client-web/src/components/chatroomAdmin/chatroomAdmin.tsx
  pandora-client-web/src/components/chatroomSelect/chatroomSelect.scss
  pandora-client-web/src/components/chatroomSelect/chatroomSelect.tsx
  pandora-client-web/src/components/common/form/form.tsx
  pandora-client-web/src/components/dialog/dialog.scss
  pandora-client-web/src/components/gameContext/chatRoomContextProvider.tsx
  pandora-client-web/src/components/login/authPage.scss
  pandora-client-web/src/components/login/authPage.tsx
  pandora-client-web/src/components/login/forms/forgotPasswordForm.tsx
  pandora-client-web/src/components/login/forms/loginForm.tsx
  pandora-client-web/src/components/login/forms/registrationForm.tsx
  pandora-client-web/src/components/login/forms/resetPasswordForm.tsx
  pandora-client-web/src/components/login/loginTeaser.scss
  pandora-client-web/src/components/login/loginTeaser.tsx
  pandora-client-web/src/components/wiki/pages/intro.tsx
  pandora-client-web/src/config/Environment.ts
  pandora-client-web/src/config/definition.ts
  pandora-client-web/src/styles/_constants.scss
  pandora-client-web/src/styles/constants.ts
  pandora-client-web/test/components/login/forms/loginForm.test.tsx
  pandora-client-web/test/components/login/forms/registrationForm.test.tsx
  pandora-client-web/test/components/login/forms/resetPasswordForm.test.tsx
  pandora-client-web/webpack.config.ts
  pandora-common/src/character/characterData.ts
  pandora-common/src/chatroom/chat.ts
  pandora-common/src/chatroom/room.ts
  pandora-common/src/index.ts
  pandora-common/src/inputLimits.ts
  pandora-common/src/networking/client_directory.ts
  pandora-common/src/networking/client_shard.ts
  pandora-common/src/networking/directory_client.ts
  pandora-common/src/validation.ts
  pandora-common/test/validation.test.ts
  pandora-server-directory/src/account/account.ts
  pandora-server-directory/src/account/character.ts
  pandora-tests/test/_setup/global_setup.ts
Labels: Type: Improvement, Type: Feature, Component: Client, Component: Core

#438 [DEV] Fix firefox debugger breaking when reload happens
  .vscode/launch.json
  pandora-client-web/webpack.config.ts
Labels: Component: Tooling, Type: Fix
