Repository Project-Pandora-Game/pandora, pull requests merged in 2023-06, with the labels that each got.

#295 [FIX] allow uppercase letters in email
  pandora-common/src/validation.ts
Labels: Component: Core, Type: Fix

#299 [DEV] Launch configuration for Firefox debugging
  .vscode/launch.json
Labels: Type: Feature, Component: Tooling

#298 [FEATURE] In-game wiki
  pandora-client-web/src/assets/icons/wiki.svg
  pandora-client-web/src/components/Eula/index.tsx
  pandora-client-web/src/components/Eula/privacyPolicy.tsx
  pandora-client-web/src/components/chatroom/chatroom.tsx
  pandora-client-web/src/components/common/scrollbar/scrollbar.scss
  pandora-client-web/src/components/common/scrollbar/scrollbar.tsx
  pandora-client-web/src/components/common/tabs/tabs.scss
  pandora-client-web/src/components/common/tabs/tabs.tsx
  pandora-client-web/src/components/header/Header.tsx
  pandora-client-web/src/components/releationships/relationships.tsx
  pandora-client-web/src/components/settings/settings.tsx
  pandora-client-web/src/components/wardrobe/wardrobe.tsx
  pandora-client-web/src/components/wiki/pages/contact.tsx
  pandora-client-web/src/components/wiki/pages/intro.tsx
  pandora-client-web/src/components/wiki/wiki.scss
  pandora-client-web/src/components/wiki/wiki.tsx
  pandora-client-web/src/routing/Routes.tsx
Labels: Type: Feature, Component: Client

#297 [CHANGE] unify leave actions to the top right button
  pandora-client-web/src/components/chatroom/chatroom.tsx
  pandora-client-web/src/components/header/Header.tsx
  pandora-client-web/src/components/header/leaveButton.scss
  pandora-client-web/src/components/header/leaveButton.tsx
Labels: Type: Improvement, Component: Client

#301 [CHANGE] Chatroom rework
  pandora-client-web/src/common/useMediaQuery.ts
  pandora-client-web/src/components/chatroom/chat.tsx
  pandora-client-web/src/components/chatroom/chatRoomScene.tsx
  pandora-client-web/src/components/chatroom/chatroom.scss
  pandora-client-web/src/components/chatroom/chatroom.tsx
  pandora-client-web/src/components/chatroom/chatroomControls.tsx
  pandora-client-web/src/components/gameContext/chatRoomContextProvider.tsx
  pandora-client-web/src/components/gameContext/directoryConnectorContextProvider.tsx
  pandora-client-web/src/components/gameContext/playerContextProvider.tsx
  pandora-client-web/src/components/header/Header.tsx
  pandora-client-web/src/components/header/leaveButton.tsx
  pandora-client-web/src/components/settings/interfaceSettings.tsx
  pandora-client-web/src/networking/socketio_directory_connector.ts
  pandora-client-web/src/styles/mediaQueries.ts
  pandora-common/src/networking/directory_client.ts
Labels: Type: Improvement, Component: Client

#303 [FIX] Fix broken chat input mode selection
  pandora-client-web/src/components/chatroom/chatInput.tsx
  pandora-client-web/src/components/chatroom/chatroom.tsx
Labels: Component: Client, Type: Fix, Priority: High

#305 [FIX] Fix editor crash when creating a new asset
  pandora-common/src/character/characterTypes.ts
Labels: Type: Fix, Component: Asset Editor

#296 [ADD] AWS SES email transport handling
  pandora-server-directory/package.json
  pandora-server-directory/src/config.ts
  pandora-server-directory/src/services/email/baseEmail.ts
  pandora-server-directory/src/services/email/index.ts
  pandora-server-directory/src/services/email/mockEmail.ts
  pandora-server-directory/src/services/email/sesEmail.ts
  pandora-server-directory/src/services/email/smtpEmail.ts
  pnpm-lock.yaml
Labels: Status: on-hold, Component: Directory server, Type: Fix, Priority: CRITICAL

#306 [REFACTOR] Wardrobe code splitting
  pandora-client-web/src/components/chatroom/chatroom.tsx
  pandora-client-web/src/components/chatroom/contextMenus/deviceContextMenu.tsx
  pandora-client-web/src/components/wardrobe/itemDetail/_wardrobeItemDetail.tsx
  pandora-client-web/src/components/wardrobe/itemDetail/wardrobeItemColor.tsx
  pandora-client-web/src/components/wardrobe/itemDetail/wardrobeItemRoomDevice.tsx
  pandora-client-web/src/components/wardrobe/modules/_wardrobeModules.tsx
  pandora-client-web/src/components/wardrobe/modules/wardrobeModuleLockSlot.tsx
  pandora-client-web/src/components/wardrobe/modules/wardrobeModuleStorage.tsx
  pandora-client-web/src/components/wardrobe/modules/wardrobeModuleTyped.tsx
  pandora-client-web/src/components/wardrobe/views/wardrobeAssetView.tsx
  pandora-client-web/src/components/wardrobe/views/wardrobeBodySizeView.tsx
  pandora-client-web/src/components/wardrobe/views/wardrobeExpressionsView.tsx
  pandora-client-web/src/components/wardrobe/views/wardrobeItemView.tsx
  pandora-client-web/src/components/wardrobe/views/wardrobeOutfitsView.tsx
  pandora-client-web/src/components/wardrobe/views/wardrobePoseView.tsx
  pandora-client-web/src/components/wardrobe/views/wardrobeRoomInventoryView.tsx
  pandora-client-web/src/components/wardrobe/wardrobe.tsx
  pandora-client-web/src/components/wardrobe/wardrobeBody.tsx
  pandora-client-web/src/components/wardrobe/wardrobeCheckQueue.ts
  pandora-client-web/src/components/wardrobe/wardrobeComponents.tsx
  pandora-client-web/src/components/wardrobe/wardrobeContext.tsx
  pandora-client-web/src/components/wardrobe/wardrobeGraphics.tsx
  pandora-client-web/src/components/wardrobe/wardrobeItems.tsx
  pandora-client-web/src/components/wardrobe/wardrobeTypes.ts
  pandora-client-web/src/components/wardrobe/wardrobeUtils.ts
  pandora-client-web/src/editor/components/bones/bones.tsx
  pandora-client-web/src/editor/components/wardrobe/wardrobe.tsx
Labels: Type: Improvement, Component: Client

#304 [CHANGE] Room tab redesign
  pandora-client-web/src/components/characterSafemode/characterSafemode.tsx
  pandora-client-web/src/components/chatroom/chatroom.scss
  pandora-client-web/src/components/chatroom/chatroom.tsx
  pandora-client-web/src/components/chatroom/chatroomControls.tsx
  pandora-client-web/src/components/chatroomSelect/chatroomSelect.tsx
  pandora-client-web/src/components/gameContext/chatRoomContextProvider.tsx
  pandora-client-web/src/components/settings/settings.scss
  pandora-client-web/src/components/wiki/pages/intro.tsx
Labels: Type: Improvement, Component: Client

#311 [FEATURE] Show room background inside chatroom
  pandora-client-web/src/character/character.ts
  pandora-client-web/src/components/chatroom/chatRoomCharacter.tsx
  pandora-client-web/src/components/chatroom/chatRoomScene.tsx
  pandora-client-web/src/components/settings/interfaceSettings.tsx
  pandora-client-web/src/components/wardrobe/wardrobe.tsx
  pandora-client-web/src/components/wardrobe/wardrobeGraphics.tsx
  pandora-client-web/src/components/wardrobe/wardrobeTypes.ts
  pandora-client-web/src/editor/editor.tsx
  pandora-client-web/src/editor/graphics/character/appearanceEditor.ts
  pandora-client-web/src/editor/graphics/editorScene.tsx
  pandora-client-web/src/graphics/graphicsScene.tsx
  pandora-client-web/src/graphics/useTexture.ts
  pandora-common/src/networking/directory_client.ts
Labels: Type: Feature, Component: Client

#313 [CHANGE] Graphics: Split left and right arm priority
  pandora-client-web/src/assets/assetGraphics.ts
  pandora-client-web/src/editor/components/layer/layer.tsx
  pandora-client-web/src/editor/graphics/character/appearanceEditor.ts
  pandora-client-web/src/editor/graphics/character/setupCharacter.tsx
  pandora-client-web/src/graphics/def.ts
  pandora-client-web/src/graphics/graphicsCharacter.tsx
  pandora-common/src/assets/graphics/graphics.ts
  pandora-common/src/validation.ts
Labels: Type: Improvement, Component: Graphics

#300 [FEATURE] attributes as atomic conditions
  pandora-client-web/src/editor/parsing.ts
  pandora-client-web/src/graphics/appearanceConditionEvaluator.ts
  pandora-client-web/src/graphics/mirroring.ts
  pandora-client-web/src/graphics/utility.ts
  pandora-common/src/assets/graphics/graphics.ts
Labels: Type: Feature, Component: Client, Component: Core, Component: Asset framework

#314 [FIX] Fix blindness affecting player in a device and in wardrobe
  pandora-client-web/src/character/character.ts
  pandora-client-web/src/components/chatroom/chatRoomCharacter.tsx
  pandora-client-web/src/components/chatroom/chatRoomDevice.tsx
  pandora-client-web/src/components/chatroom/chatRoomScene.tsx
  pandora-client-web/src/components/wardrobe/wardrobeGraphics.tsx
  pandora-client-web/src/editor/graphics/character/appearanceEditor.ts
Labels: Component: Graphics, Type: Fix

#315 [FIX] Prevent hover element from rendering under other elements
  pandora-client-web/src/components/hoverElement/hoverElement.tsx
  pandora-client-web/src/editor/editorContextProvider.tsx
  pandora-client-web/src/index.tsx
Labels: Component: Client, Type: Fix

#317 [FIX] Do not create portals outside of components
  pandora-client-web/src/components/hoverElement/hoverElement.tsx
Labels: Component: Client, Type: Fix, Priority: CRITICAL

#318 [CHANGE] Small chatroom improvements
  pandora-client-web/src/components/chatroom/chatInput.tsx
  pandora-client-web/src/components/chatroom/chatRoomCharacter.tsx
  pandora-client-web/src/components/chatroom/chatRoomDevice.tsx
Labels: Type: Improvement, Component: Client

#320 [FIX] Fix shard crashing when loading room with invalid data
  pandora-client-web/src/components/chatroomSelect/chatroomSelect.tsx
  pandora-common/src/assets/state/roomState.ts
  pandora-common/src/chatroom/room.ts
  pandora-common/src/networking/connection.ts
  pandora-server-directory/src/room/room.ts
  pandora-server-shard/src/room/room.ts
Labels: Component: Client, Component: Shard server, Component: Directory server, Type: Fix, Priority: High
