Repository Project-Pandora-Game/pandora, pull requests merged in 2023-08, with the labels that each got.

#334 [FEATURE] Chatroom offline character persistence
  pandora-client-web/src/assets/icons/disconnected.svg
  pandora-client-web/src/character/player.ts
  pandora-client-web/src/components/chatroom/chatRoomCharacter.tsx
  pandora-client-web/src/components/chatroom/chatRoomDevice.tsx
  pandora-client-web/src/components/chatroom/chatRoomScene.tsx
  pandora-client-web/src/components/chatroom/chatroom.scss
  pandora-client-web/src/components/chatroom/chatroomControls.tsx
  pandora-client-web/src/components/header/leaveButton.tsx
  pandora-client-web/src/components/releationships/relationships.tsx
  pandora-client-web/src/components/settings/interfaceSettings.tsx
  pandora-client-web/src/components/wardrobe/wardrobeGraphics.tsx
  pandora-client-web/src/editor/graphics/character/appearanceEditor.ts
  pandora-client-web/src/graphics/useTexture.ts
  pandora-client-web/test/character/player.test.ts
  pandora-common/src/character/index.ts
  pandora-common/src/chatroom/room.ts
  pandora-common/src/networking/directory_client.ts
  pandora-common/src/networking/directory_shard.ts
  pandora-common/src/networking/shard_client.ts
  pandora-common/src/networking/shard_directory.ts
  pandora-common/src/utility.ts
  pandora-common/src/validation.ts
  pandora-server-directory/src/account/account.ts
  pandora-server-directory/src/account/accountManager.ts
  pandora-server-directory/src/account/accountRelationship.ts
  pandora-server-directory/src/account/character.ts
  pandora-server-directory/src/database/databaseProvider.ts
  pandora-server-directory/src/database/mockDb.ts
  pandora-server-directory/src/database/mongoDb.ts
  pandora-server-directory/src/lifecycle.ts
  pandora-server-directory/src/networking/connection_client.ts
  pandora-server-directory/src/networking/manager_client.ts
  pandora-server-directory/src/networking/manager_shard.ts
  pandora-server-directory/src/room/room.ts
  pandora-server-directory/src/room/roomManager.ts
  pandora-server-directory/src/shard/shard.ts
  pandora-server-directory/test/account/accountManager.test.ts
  pandora-server-directory/test/account/accountProcedures.test.ts
  pandora-server-directory/test/networking/connection_client.test.ts
  pandora-server-directory/test/utils.ts
  pandora-server-shard/src/character/character.ts
  pandora-server-shard/src/lifecycle.ts
  pandora-server-shard/src/networking/connection_client.ts
  pandora-server-shard/src/networking/manager_client.ts
  pandora-server-shard/src/networking/socketio_directory_connector.ts
  pandora-server-shard/src/room/room.ts
Labels: Type: Improvement, Type: Feature, Component: Core, Type: Fix

#355 [CHORE] Remove unused `engine.io-client` dependency
  pandora-client-web/package.json
  pnpm-lock.yaml
Labels: Type: Improvement, Component: Tooling

#351 [CHANGE] online and offline counter
  pandora-client-web/src/components/chatroomSelect/chatroomSelect.scss
  pandora-client-web/src/components/chatroomSelect/chatroomSelect.tsx
  pandora-client-web/src/components/wiki/pages/intro.tsx
  pandora-common/src/chatroom/room.ts
  pandora-server-directory/src/account/accountManager.ts
  pandora-server-directory/src/account/character.ts
  pandora-server-directory/src/room/room.ts
Labels: Type: Improvement, Component: Client, Component: Directory server

#326 [REFACTOR] enum for legs pose
  pandora-client-web/src/components/chatroom/chatRoomCharacter.tsx
  pandora-client-web/src/components/wardrobe/views/wardrobePoseView.tsx
  pandora-client-web/src/editor/components/bones/bones.tsx
  pandora-client-web/src/editor/components/layer/layer.tsx
  pandora-client-web/src/editor/parsing.ts
  pandora-client-web/src/graphics/appearanceConditionEvaluator.ts
  pandora-client-web/src/graphics/mirroring.ts
  pandora-common/src/assets/appearance.ts
  pandora-common/src/assets/appearanceActions.ts
  pandora-common/src/assets/appearanceLimit.ts
  pandora-common/src/assets/definitions.ts
  pandora-common/src/assets/graphics/graphics.ts
  pandora-common/src/assets/state/characterState.ts
  pandora-common/src/assets/state/globalState.ts
  pandora-common/src/networking/shard_directory.ts
  pandora-common/src/validation.ts
Labels: Type: Improvement, Component: Asset framework

#372 [CHANGE] Cleanup contacts list, add online indicator
  pandora-client-web/src/components/chatroom/contextMenus/characterContextMenu.tsx
  pandora-client-web/src/components/chatroomAdmin/chatroomAdmin.tsx
  pandora-client-web/src/components/header/Header.tsx
  pandora-client-web/src/components/releationships/relationships.scss
  pandora-client-web/src/components/releationships/relationships.tsx
  pandora-client-web/src/components/releationships/relationshipsContext.ts
  pandora-client-web/src/index.scss
  pandora-client-web/src/networking/socketio_directory_connector.ts
  pandora-client-web/src/styles/globalUtils.scss
Labels: Type: Improvement, Component: Client

#375 [DEV] Basic framework for End-to-End testing
  .github/workflows/ci.yml
  .vscode/settings.json
  package.json
  pandora-client-web/src/components/Eula/index.tsx
  pandora-client-web/webpack.config.ts
  pandora-tests/.eslintrc.json
  pandora-tests/.gitignore
  pandora-tests/LICENSE
  pandora-tests/package.json
  pandora-tests/playwright.config.ts
  pandora-tests/superstatic.json
  pandora-tests/test/_setup/config.ts
  pandora-tests/test/_setup/global_setup.ts
  pandora-tests/test/directory_connection.test.ts
  pandora-tests/test/eula.test.ts
  pandora-tests/test/load.test.ts
  pandora-tests/test/tsconfig.json
  pandora-tests/test/utils/helpers.ts
  pandora-tests/test/utils/server.ts
  pandora-tests/test/utils/utils.ts
  pandora-tests/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: Type: Feature, Component: Tooling
