Repository Project-Pandora-Game/pandora, pull requests merged in 2023-07, with the labels that each got.

#322 [CHANGE] friend list renaming
  pandora-client-web/src/components/Eula/privacyPolicy.tsx
  pandora-client-web/src/components/chatroom/commands.ts
  pandora-client-web/src/components/chatroom/contextMenus/characterContextMenu.tsx
  pandora-client-web/src/components/header/Header.tsx
  pandora-client-web/src/components/releationships/relationships.tsx
  pandora-client-web/src/components/wiki/pages/intro.tsx
Labels: Type: Improvement, Component: Client

#323 [ADD] in-game online numbers
  pandora-client-web/src/components/chatroomSelect/chatroomSelect.tsx
  pandora-client-web/src/networking/socketio_directory_connector.ts
  pandora-client-web/test/mocks/error/errorMocks.ts
  pandora-client-web/test/mocks/networking/mockDirectoryConnector.ts
  pandora-common/src/networking/directory_client.ts
  pandora-server-directory/src/account/accountManager.ts
  pandora-server-directory/src/networking/manager_client.ts
Labels: Type: Feature, Component: Client, Component: Core, Component: Directory server

#325 [FEATURE] device pose preset and exit pose
  pandora-client-web/src/assets/appearanceValidation.ts
  pandora-client-web/src/common/useEvent.ts
  pandora-client-web/src/components/wardrobe/views/wardrobePoseView.tsx
  pandora-common/src/assets/appearanceActions.ts
  pandora-common/src/assets/definitions.ts
  pandora-common/src/assets/state/characterState.ts
  pandora-common/src/character/restrictionsManager.ts
Labels: Type: Feature, Component: Asset framework
