Repository Project-Pandora-Game/pandora, pull requests merged in 2023-11, with the labels that each got.

#439 [FIX] minor bugs
  pandora-client-web/src/common/useKeyDownEvent.ts
  pandora-client-web/src/components/characterSafemode/characterSafemode.tsx
  pandora-client-web/src/components/chatroomAdmin/chatroomAdmin.tsx
  pandora-client-web/src/components/directMessage/directMessage.tsx
  pandora-client-web/src/components/directMessages/directMessages.scss
  pandora-client-web/src/components/directMessages/directMessages.tsx
  pandora-client-web/src/components/gameContext/directMessageChannelProvieder.tsx
  pandora-client-web/src/components/releationships/relationships.tsx
  pandora-client-web/src/networking/directMessageManager.ts
  pandora-server-directory/package.json
  pandora-server-directory/src/logging.ts
  pandora-server-shard/package.json
  pandora-server-shard/src/character/character.ts
  pandora-server-shard/src/logging.ts
  pnpm-lock.yaml
Labels: Type: Improvement, Component: Client, Component: Core, Type: Fix

#440 [FEATURE] Room device modules
  pandora-client-web/src/assets/appearanceValidation.ts
  pandora-client-web/src/components/chatroom/chatRoomDevice.tsx
  pandora-client-web/src/components/common/tabs/tabs.tsx
  pandora-client-web/src/components/settings/settings.tsx
  pandora-client-web/src/components/wardrobe/itemDetail/_wardrobeItemDetail.tsx
  pandora-client-web/src/components/wardrobe/itemDetail/wardrobeItemRoomDevice.tsx
  pandora-client-web/src/components/wardrobe/views/wardrobeExpressionsView.tsx
  pandora-client-web/src/components/wardrobe/views/wardrobeItemView.tsx
  pandora-client-web/src/components/wardrobe/wardrobe.tsx
  pandora-client-web/src/components/wardrobe/wardrobeItems.tsx
  pandora-client-web/src/editor/components/assetInfo/assetInfo.tsx
  pandora-client-web/src/editor/parsing.ts
  pandora-client-web/src/graphics/appearanceConditionEvaluator.ts
  pandora-client-web/src/graphics/graphicsLayer.tsx
  pandora-common/src/assets/appearanceActions.ts
  pandora-common/src/assets/appearanceHelpers.ts
  pandora-common/src/assets/appearanceValidation.ts
  pandora-common/src/assets/asset.ts
  pandora-common/src/assets/assetManager.ts
  pandora-common/src/assets/definitions.ts
  pandora-common/src/assets/index.ts
  pandora-common/src/assets/item.ts
  pandora-common/src/assets/modules.ts
  pandora-common/src/assets/modules/common.ts
  pandora-common/src/assets/modules/lockSlot.ts
  pandora-common/src/assets/modules/storage.ts
  pandora-common/src/assets/modules/typed.ts
  pandora-common/src/assets/roomDeviceProperties.ts
  pandora-common/src/assets/roomValidation.ts
  pandora-common/src/assets/state/characterState.ts
  pandora-common/src/assets/state/globalState.ts
  pandora-common/src/character/restrictionsManager.ts
  pandora-common/src/utility.ts
  pandora-server-shard/src/character/character.ts
  pandora-server-shard/src/room/room.ts
Labels: Type: Feature, Component: Asset framework, Complexity: 3 - High

#441 [ADD] adds a new wiki tab with the history of pandora
  pandora-client-web/src/components/wiki/pages/greeting.tsx
  pandora-client-web/src/components/wiki/pages/history.tsx
  pandora-client-web/src/components/wiki/pages/intro.tsx
  pandora-client-web/src/components/wiki/wiki.tsx
Labels: Type: Feature, Component: Client

#442 [FEATURE] rock paper scissors command
  pandora-client-web/src/components/chatroom/commands.ts
  pandora-client-web/src/components/chatroom/commandsHelpers.ts
  pandora-client-web/src/components/chatroom/contextMenus/characterContextMenu.tsx
  pandora-client-web/src/components/common/link/externalLink.tsx
  pandora-client-web/src/components/wiki/pages/contact.tsx
  pandora-client-web/src/components/wiki/pages/history.tsx
  pandora-common/src/chatroom/chatActions.ts
  pandora-common/src/networking/client_shard.ts
  pandora-server-shard/src/networking/manager_client.ts
Labels: Type: Feature, Component: Client, Component: Shard server

#443 [FEATURE] Collapsable header
  pandora-client-web/src/components/Eula/index.tsx
  pandora-client-web/src/components/characterSelect/characterSelect.scss
  pandora-client-web/src/components/characterSelect/characterSelect.tsx
  pandora-client-web/src/components/common/button/domIcons.scss
  pandora-client-web/src/components/common/button/domIcons.tsx
  pandora-client-web/src/components/common/tabs/tabs.scss
  pandora-client-web/src/components/dialog/dialog.tsx
  pandora-client-web/src/components/header/Header.tsx
  pandora-client-web/src/components/header/HeaderButton.tsx
  pandora-client-web/src/components/header/header.scss
  pandora-client-web/src/components/header/leaveButton.scss
  pandora-client-web/src/components/header/leaveButton.tsx
  pandora-client-web/src/components/releationships/relationships.scss
  pandora-client-web/src/components/versionCheck/versionCheck.tsx
  pandora-client-web/src/components/wardrobe/wardrobe.scss
  pandora-client-web/src/components/wiki/wiki.scss
  pandora-client-web/src/editor/editorContextProvider.tsx
  pandora-client-web/src/graphics/graphicsScene.tsx
  pandora-client-web/src/index.scss
  pandora-client-web/src/index.tsx
  pandora-client-web/src/routing/Routes.tsx
  pandora-client-web/src/styles/mediaQueries.ts
Labels: Type: Improvement, Component: Client

#446 [FIX] add permission check service to editor
  pandora-client-web/src/components/gameContext/permissionCheckProvider.tsx
  pandora-client-web/src/editor/editorContextProvider.tsx
Labels: Type: Fix, Component: Asset Editor

#448 [FEATURE] Add confirmation for actions you can't undo
  pandora-client-web/src/common/useEvent.ts
  pandora-client-web/src/components/chatroom/contextMenus/deviceContextMenu.tsx
  pandora-client-web/src/components/contextMenu/contextMenu.scss
  pandora-client-web/src/components/dialog/dialog.tsx
  pandora-client-web/src/components/wardrobe/itemDetail/wardrobeItemRoomDevice.tsx
  pandora-client-web/src/components/wardrobe/views/wardrobePoseView.tsx
  pandora-client-web/src/components/wardrobe/wardrobe.scss
  pandora-client-web/src/components/wardrobe/wardrobeComponents.tsx
  pandora-client-web/src/components/wardrobe/wardrobeContext.tsx
  pandora-client-web/src/components/wardrobe/wardrobeUtils.ts
  pandora-client-web/src/persistentToast.ts
  pandora-client-web/src/styles/globalUtils.scss
Labels: Type: Improvement, Component: Client

#450 [FEATURE] Enable character rotation inside room device
  pandora-client-web/src/components/chatroom/chatRoomDevice.tsx
  pandora-client-web/src/editor/components/wardrobe/wardrobe.tsx
  pandora-common/src/assets/definitions.ts
Labels: Type: Feature, Component: Graphics

#451 [FIX] Add Wiki tests and downgrade react-router to avoid latest regression for nested routing
  pandora-client-web/package.json
  pandora-tests/test/eula.test.ts
  pandora-tests/test/utils/helpers.ts
  pandora-tests/test/wiki.test.ts
  pnpm-lock.yaml
Labels: Component: Client, Type: Fix
