Repository Project-Pandora-Game/pandora, pull requests merged in 2024-03, with the labels that each got.

#598 [FEATURE] limit dms
  pandora-client-web/src/networking/directMessageManager.ts
  pandora-common/src/inputLimits.ts
  pandora-common/src/networking/client_directory.ts
  pandora-server-directory/package.json
  pandora-server-directory/src/account/accountDirectMessages.ts
  pandora-server-directory/src/database/databaseProvider.ts
  pandora-server-directory/src/database/databaseStructure.ts
  pandora-server-directory/src/database/mockDb.ts
  pandora-server-directory/src/database/mongoDb.ts
  pandora-server-directory/src/database/validatedCollection.ts
  pandora-server-directory/src/networking/manager_client.ts
  pnpm-lock.yaml
Labels: Type: Improvement, Component: Directory server

#599 [DEV] Tests coverage collection
  .github/workflows/ci.yml
  .gitignore
  .hooks/coverage-collect.cjs
  .hooks/postinstall.cjs
  package.json
  pandora-client-web/jest.config.js
  pandora-client-web/webpack.config.ts
  pandora-common/jest.config.js
  pandora-server-directory/jest.config.js
  pandora-server-shard/jest.config.js
  pandora-tests/.gitignore
  pandora-tests/package.json
  pandora-tests/test/_setup/config.ts
  pandora-tests/test/_setup/global_setup.ts
  pandora-tests/test/directory_connection.test.ts
  pandora-tests/test/eula.test.ts
  pandora-tests/test/load.test.ts
  pandora-tests/test/utils/coverage.ts
  pandora-tests/test/utils/helpers.ts
  pandora-tests/test/utils/server.ts
  pandora-tests/test/wiki.test.ts
  pnpm-lock.yaml
Labels: Type: Feature, Component: Tooling

#605 [DEV] Small cleanup after spaces changes
  pandora-common/src/account/settings.ts
  pandora-common/src/inputLimits.ts
  pandora-server-directory/src/account/account.ts
  pandora-server-directory/src/account/accountContacts.ts
  pandora-server-directory/src/config.ts
  pandora-server-directory/src/networking/manager_client.ts
  pandora-server-directory/src/spaces/spaceManager.ts
  pandora-server-shard/src/spaces/spaceManager.ts
Labels: Type: Improvement, Component: Core

#606 [CHANGE] Allow storing an occupied room device
  pandora-client-web/src/assets/appearanceValidation.ts
  pandora-client-web/src/assets/icons/arrow-right.svg
  pandora-client-web/src/components/wardrobe/wardrobeUtils.ts
  pandora-common/src/assets/appearanceActions.ts
  pandora-common/src/assets/appearanceValidation.ts
  pandora-common/src/assets/item/roomDevice.ts
Labels: Type: Improvement, Component: Asset framework

#608 [FIX] wiki links
  pandora-client-web/src/common/anchorAutoscroll.tsx
  pandora-client-web/src/common/anchorHighlight.scss
  pandora-client-web/src/components/common/tabs/tabs.tsx
  pandora-client-web/src/components/gameContext/gameContextProvider.tsx
  pandora-client-web/src/components/wiki/pages/characters.tsx
  pandora-client-web/src/components/wiki/pages/intro.tsx
  pandora-client-web/src/components/wiki/pages/items.tsx
  pandora-client-web/src/components/wiki/pages/safety.tsx
  pandora-client-web/src/components/wiki/pages/spaces.tsx
  pandora-client-web/src/editor/editorContextProvider.tsx
Labels: Type: Improvement, Component: Client, Type: Fix

#600 [CHANGE] update privacy policy
  pandora-client-web/src/components/Eula/privacyPolicy.tsx
  pandora-common/src/inputLimits.ts
Labels: Type: Documentation, Component: Client

#611 [FIX] Prevent Zalgo text
  pandora-client-web/src/components/directMessage/directMessage.scss
  pandora-client-web/src/ui/screens/room/room.scss
Labels: Component: Client, Type: Fix

#613 [REFACTOR] Do not store character information on account
  pandora-client-web/src/components/characterSelect/characterSelect.tsx
  pandora-client-web/test/character/player.test.ts
  pandora-common/src/character/characterData.ts
  pandora-common/src/networking/client_directory.ts
  pandora-server-directory/src/account/account.ts
  pandora-server-directory/src/account/accountManager.ts
  pandora-server-directory/src/account/character.ts
  pandora-server-directory/src/database/databaseProvider.ts
  pandora-server-directory/src/database/databaseStructure.ts
  pandora-server-directory/src/database/dbHelper.ts
  pandora-server-directory/src/database/mockDb.ts
  pandora-server-directory/src/database/mongoDb.ts
  pandora-server-directory/src/database/validatedCollection.ts
  pandora-server-directory/src/networking/manager_client.ts
  pandora-server-directory/src/spaces/space.ts
  pandora-server-directory/test/account/account.test.ts
  pandora-server-directory/test/account/accountSecure.test.ts
  pandora-server-directory/test/database/db.ts
Labels: Type: Improvement, Component: Core, Component: Directory server

#614 [FIX] Drop invalid direct message edit time
  pandora-server-directory/src/database/databaseStructure.ts
Labels: Component: Directory server, Type: Fix, Priority: High

#615 [FIX] Move editor browser router above editor context provider
  pandora-client-web/src/editor/editor.tsx
  pandora-client-web/src/editor/index.tsx
  pandora-tests/test/eula.test.ts
Labels: Type: Fix, Component: Asset Editor

#612 [CHANGE] new user guide, wiki improvements, and garbling improvements
  pandora-client-web/src/components/wiki/pages/characters.tsx
  pandora-client-web/src/components/wiki/pages/greeting.tsx
  pandora-client-web/src/components/wiki/pages/intro.tsx
  pandora-client-web/src/components/wiki/pages/items.tsx
  pandora-client-web/src/components/wiki/pages/new.tsx
  pandora-client-web/src/components/wiki/pages/spaces.tsx
  pandora-client-web/src/components/wiki/wiki.tsx
  pandora-client-web/src/styles/_constants.scss
  pandora-client-web/src/ui/screens/room/roomControls.tsx
  pandora-client-web/src/ui/screens/spaceConfiguration/spaceConfiguration.tsx
  pandora-common/src/character/speech.ts
  pandora-common/src/chat/chat.ts
Labels: Type: Improvement, Component: Client

#617 [CHORE] Drop `@types/testing-library__jest-dom`
  pandora-client-web/package.json
  pnpm-lock.yaml
Labels: Type: Improvement, Component: Tooling

#609 [FEATURE] login management
  pandora-client-web/src/components/header/leaveButton.tsx
  pandora-client-web/src/components/settings/securitySettings.tsx
  pandora-client-web/src/components/settings/settings.scss
  pandora-client-web/src/components/settings/settings.tsx
  pandora-client-web/src/networking/directMessageManager.ts
  pandora-client-web/src/networking/socketio_directory_connector.ts
  pandora-common/src/event.ts
  pandora-common/src/networking/client_directory.ts
  pandora-common/src/networking/directory_client.ts
  pandora-common/src/utility.ts
  pandora-server-directory/src/account/account.ts
  pandora-server-directory/src/account/accountManager.ts
  pandora-server-directory/src/account/accountSecure.ts
  pandora-server-directory/src/account/character.ts
  pandora-server-directory/src/networking/connection_client.ts
  pandora-server-directory/src/networking/manager_client.ts
  pandora-server-directory/src/utility.ts
  pandora-server-directory/test/account/accountSecure.test.ts
  pandora-server-directory/test/networking/connection_client.test.ts
Labels: Type: Feature, Component: Client, Component: Core, Component: Directory server

#620 [CHANGE] gate development mode and document space effects
  pandora-client-web/src/components/wiki/pages/characters.tsx
  pandora-client-web/src/components/wiki/pages/history.tsx
  pandora-client-web/src/components/wiki/pages/spaces.tsx
  pandora-client-web/src/ui/screens/spaceConfiguration/spaceConfiguration.tsx
  pandora-server-directory/src/config.ts
  pandora-server-directory/src/networking/manager_client.ts
  pandora-server-directory/src/spaces/spaceManager.ts
Labels: Type: Improvement, Component: Client

#621 [FEATURE] Discord beta registrations and invites
  pandora-server-directory/src/account/account.ts
  pandora-server-directory/src/account/accountRoles.ts
  pandora-server-directory/src/account/actorIdentity.ts
  pandora-server-directory/src/account/actorPandora.ts
  pandora-server-directory/src/config.ts
  pandora-server-directory/src/database/databaseStructure.ts
  pandora-server-directory/src/database/mongoDb.ts
  pandora-server-directory/src/index.ts
  pandora-server-directory/src/lifecycle.ts
  pandora-server-directory/src/networking/manager_client.ts
  pandora-server-directory/src/services/betaRegistration/betaRegistration.ts
  pandora-server-directory/src/services/discord/commands/_common.ts
  pandora-server-directory/src/services/discord/commands/ping.ts
  pandora-server-directory/src/services/discord/commands/registration.ts
  pandora-server-directory/src/services/discord/discordBot.ts
  pandora-server-directory/src/shard/betaKeyStore.ts
  pandora-server-directory/src/shard/tokenStoreBase.ts
Labels: Type: Feature, Component: Directory server

#624 [FEATURE] flag for safemode cooldown bypass
  pandora-client-web/src/components/gameContext/gameStateContextProvider.tsx
  pandora-client-web/src/editor/components/wardrobe/wardrobe.tsx
  pandora-client-web/src/ui/screens/spaceConfiguration/spaceConfiguration.tsx
  pandora-common/src/assets/appearanceActions.ts
  pandora-common/src/space/space.ts
  pandora-server-shard/src/spaces/space.ts
Labels: Type: Improvement, Component: Client, Component: Core, Component: Directory server

#623 [CHANGE] check owners' role for development on space load
  pandora-server-directory/src/spaces/spaceManager.ts
  pandora-server-directory/test/spaces/testData.ts
Labels: Component: Directory server, Type: Fix

#625 [ADD] More audit logging
  pandora-client-web/src/components/wiki/pages/intro.tsx
  pandora-server-directory/src/account/account.ts
  pandora-server-directory/src/logging.ts
  pandora-server-directory/src/networking/manager_client.ts
  pandora-server-directory/src/spaces/space.ts
Labels: Type: Improvement, Component: Directory server
