Repository Project-Pandora-Game/pandora, pull requests merged in 2024-09, with the labels that each got.

#828 [CHANGE] Locked containers cannot open
  pandora-client-web/src/components/gameContext/permissionCheckProvider.tsx
  pandora-client-web/src/components/wardrobe/modules/wardrobeModuleStorage.tsx
  pandora-client-web/src/components/wardrobe/views/wardrobeItemView.tsx
  pandora-client-web/src/components/wardrobe/wardrobe.scss
  pandora-client-web/src/components/wardrobe/wardrobeCheckQueue.ts
  pandora-client-web/src/components/wardrobe/wardrobeComponents.tsx
  pandora-client-web/src/components/wardrobe/wardrobeContext.tsx
  pandora-client-web/src/components/wardrobe/wardrobeTypes.ts
  pandora-client-web/src/editor/components/wardrobe/wardrobe.tsx
  pandora-client-web/src/editor/graphics/character/appearanceEditor.ts
  pandora-common/src/assets/appearanceActionProcessingContext.ts
  pandora-common/src/assets/appearanceActions.ts
  pandora-common/src/networking/client_shard.ts
  pandora-server-shard/src/character/character.ts
  pandora-server-shard/src/networking/manager_client.ts
Labels: Type: Improvement, Component: Client

#835 [FEATURE] Update pixi.js to v8
  Dockerfile
  package.json
  pandora-client-web/package.json
  pandora-client-web/src/assets/assetGraphicsCalculations.ts
  pandora-client-web/src/assets/graphicsLoader.ts
  pandora-client-web/src/assets/graphicsManager.ts
  pandora-client-web/src/components/error/errorReport.ts
  pandora-client-web/src/components/wardrobe/wardrobeGraphics.tsx
  pandora-client-web/src/editor/components/previewCutter/previewCutter.tsx
  pandora-client-web/src/editor/graphics/character/appearanceEditor.ts
  pandora-client-web/src/editor/graphics/editorScene.tsx
  pandora-client-web/src/editor/graphics/export/imageExporter.ts
  pandora-client-web/src/editor/graphics/layer/resultLayer.tsx
  pandora-client-web/src/editor/graphics/layer/setupLayer.tsx
  pandora-client-web/src/editor/graphics/pointTemplateEditor.tsx
  pandora-client-web/src/graphics/baseComponents/container.ts
  pandora-client-web/src/graphics/baseComponents/graphics.ts
  pandora-client-web/src/graphics/baseComponents/mesh.tsx
  pandora-client-web/src/graphics/baseComponents/pixiViewport.tsx
  pandora-client-web/src/graphics/baseComponents/sprite.ts
  pandora-client-web/src/graphics/baseComponents/text.ts
  pandora-client-web/src/graphics/graphicsAppManager.ts
  pandora-client-web/src/graphics/graphicsCharacter.tsx
  pandora-client-web/src/graphics/graphicsLayer.tsx
  pandora-client-web/src/graphics/graphicsMaskLayer.ts
  pandora-client-web/src/graphics/graphicsScene.tsx
  pandora-client-web/src/graphics/graphicsSceneRenderer.tsx
  pandora-client-web/src/graphics/graphicsSuspense/graphicsSuspense.tsx
  pandora-client-web/src/graphics/movementHelper.tsx
  pandora-client-web/src/graphics/pixiSettings.ts
  pandora-client-web/src/graphics/reconciler/component.ts
  pandora-client-web/src/graphics/reconciler/element.ts
  pandora-client-web/src/graphics/reconciler/reconciler-config.ts
  pandora-client-web/src/graphics/reconciler/tick.ts
  pandora-client-web/src/graphics/room/roomCharacter.tsx
  pandora-client-web/src/graphics/room/roomDevice.tsx
  pandora-client-web/src/graphics/room/roomScene.tsx
  pandora-client-web/src/graphics/useTexture.ts
  pandora-client-web/src/graphics/utility.ts
  pandora-common/.eslintrc.json
  patches/pixi-viewport.patch
  pnpm-lock.yaml
Labels: Type: Improvement, Component: Graphics

#837 [FEATURE] Character movement and posing modes
  pandora-client-web/src/assets/icons/letter.svg
  pandora-client-web/src/assets/icons/lips.svg
  pandora-client-web/src/assets/icons/profile.svg
  pandora-client-web/src/assets/icons/shirt.svg
  pandora-client-web/src/components/contextMenu/contextMenu.scss
  pandora-client-web/src/components/wardrobe/itemDetail/_wardrobeItemDetail.tsx
  pandora-client-web/src/components/wardrobe/itemDetail/wardrobeItemColor.tsx
  pandora-client-web/src/components/wardrobe/itemDetail/wardrobeItemRoomDevice.tsx
  pandora-client-web/src/components/wardrobe/modules/wardrobeModuleStorage.tsx
  pandora-client-web/src/components/wardrobe/views/wardrobeAssetView.tsx
  pandora-client-web/src/components/wardrobe/views/wardrobeBodySizeView.tsx
  pandora-client-web/src/components/wardrobe/views/wardrobeItemView.tsx
  pandora-client-web/src/components/wardrobe/views/wardrobeOutfitEditView.tsx
  pandora-client-web/src/components/wardrobe/views/wardrobeOutfitView.tsx
  pandora-client-web/src/components/wardrobe/views/wardrobePoseView.tsx
  pandora-client-web/src/components/wardrobe/views/wardrobeSecondaryInventoryView.tsx
  pandora-client-web/src/components/wardrobe/wardrobe.tsx
  pandora-client-web/src/components/wardrobe/wardrobeActionContext.tsx
  pandora-client-web/src/components/wardrobe/wardrobeCheckQueue.ts
  pandora-client-web/src/components/wardrobe/wardrobeComponents.tsx
  pandora-client-web/src/components/wardrobe/wardrobeContext.tsx
  pandora-client-web/src/components/wardrobe/wardrobeGraphics.tsx
  pandora-client-web/src/components/wardrobe/wardrobeTypes.ts
  pandora-client-web/src/components/wardrobe/wardrobeUtils.ts
  pandora-client-web/src/editor/components/previewCutter/previewCutter.tsx
  pandora-client-web/src/editor/components/wardrobe/wardrobe.tsx
  pandora-client-web/src/editor/graphics/editorScene.tsx
  pandora-client-web/src/editor/graphics/layer/resultLayer.tsx
  pandora-client-web/src/editor/graphics/layer/setupLayer.tsx
  pandora-client-web/src/editor/graphics/pointTemplateEditor.tsx
  pandora-client-web/src/graphics/baseComponents/graphics.ts
  pandora-client-web/src/graphics/movementHelper.tsx
  pandora-client-web/src/graphics/room/contextMenus/characterContextMenu.tsx
  pandora-client-web/src/graphics/room/contextMenus/deviceContextMenu.tsx
  pandora-client-web/src/graphics/room/roomCharacter.tsx
  pandora-client-web/src/graphics/room/roomCharacterPosing.tsx
  pandora-client-web/src/graphics/room/roomDevice.tsx
  pandora-client-web/src/graphics/room/roomScene.tsx
  pandora-client-web/src/ui/screens/room/room.scss
  pandora-client-web/src/ui/screens/room/room.tsx
  pandora-client-web/src/ui/screens/room/roomContext.tsx
  pandora-client-web/src/ui/screens/room/roomControls.tsx
  pandora-client-web/src/ui/screens/room/roomPermissionChecks.tsx
  pandora-common/src/assets/assetManager.ts
  pandora-common/src/assets/graphics/compressed.ts
  pandora-common/src/assets/graphics/graphics.ts
Labels: Type: Improvement, Type: Feature, Component: Client

#838 [FIX] Do not close tab on room device enter/leave
  pandora-client-web/.eslintrc.json
  pandora-client-web/src/graphics/room/contextMenus/deviceContextMenu.tsx
Labels: Component: Client, Type: Fix

#841 [FIX] Room device posing overlay and wardrobe coloring
  pandora-client-web/src/graphics/graphicsLayer.tsx
  pandora-client-web/src/graphics/room/roomCharacter.tsx
  pandora-client-web/src/graphics/room/roomDevice.tsx
  pandora-client-web/src/graphics/room/roomDeviceContext.tsx
  pandora-client-web/src/ui/screens/room/roomPermissionChecks.tsx
  pandora-client-web/src/ui/screens/spacesSearch/spacesSearch.tsx
  pandora-common/src/assets/item/roomDeviceWearablePart.ts
  pandora-common/src/assets/state/characterState.ts
  pandora-common/src/character/restrictionsManager.ts
Labels: Component: Client, Type: Fix
