Repository Project-Pandora-Game/pandora, pull requests merged in 2024-01, with the labels that each got.

#503 [ADD] coloring permission of devices and minimum account password length
  pandora-client-web/src/components/login/forms/registrationForm.tsx
  pandora-client-web/src/components/login/forms/resetPasswordForm.tsx
  pandora-common/src/assets/appearanceActions.ts
  pandora-common/src/validation.ts
Labels: Type: Improvement, Component: Client, Component: Core

#504 [CHANGE] crypto key should not be changed directly
  pandora-client-web/src/components/directMessage/directMessage.tsx
  pandora-client-web/src/components/directMessages/directMessages.tsx
  pandora-client-web/src/networking/directMessageManager.ts
  pandora-client-web/test/mocks/networking/mockDirectoryConnector.ts
  pandora-common/src/networking/client_directory.ts
  pandora-common/src/networking/directory_client.ts
  pandora-server-directory/src/account/account.ts
  pandora-server-directory/src/account/accountDirectMessages.ts
  pandora-server-directory/src/account/accountSecure.ts
  pandora-server-directory/src/networking/manager_client.ts
Labels: Type: Improvement, Component: Client, Component: Directory server

#500 [FIX] password locks should be case insensitive
  pandora-common/src/assets/item.ts
Labels: Component: Core, Type: Fix, Component: Asset framework

#499 [CHANGE] device deployment improvements
  pandora-client-web/src/assets/appearanceValidation.ts
  pandora-client-web/src/components/chatroom/chatRoomDevice.tsx
  pandora-client-web/src/components/chatroom/chatRoomScene.tsx
  pandora-client-web/src/components/chatroom/contextMenus/deviceContextMenu.tsx
  pandora-client-web/src/components/wardrobe/itemDetail/wardrobeItemRoomDevice.tsx
  pandora-client-web/src/components/wardrobe/wardrobeGraphics.tsx
  pandora-client-web/src/components/wardrobe/wardrobeUtils.ts
  pandora-common/src/assets/appearanceActionProcessingContext.ts
  pandora-common/src/assets/appearanceActions.ts
  pandora-common/src/assets/appearanceValidation.ts
  pandora-common/src/assets/item.ts
Labels: Type: Improvement, Component: Client, Component: Core

#507 [CHANGE] chat edit styling and small preview images as default
  pandora-client-web/src/components/chatroom/chatInput.tsx
  pandora-client-web/src/components/chatroom/chatroom.scss
  pandora-client-web/src/components/settings/interfaceSettings.tsx
  pandora-common/src/networking/directory_client.ts
Labels: Type: Improvement, Component: Client, Component: Core

#509 [FIX] improved CommandSelectorCharacter ID parsing
  pandora-client-web/src/components/chatroom/commandsHelpers.ts
  pandora-client-web/src/components/chatroom/commandsProcessor.ts
Labels: Type: Improvement, Component: Client, Type: Fix

#508 [FIX] migrate directMessages to have the correct new displayName property
  pandora-client-web/src/components/accountContacts/accountContactContext.ts
  pandora-client-web/src/components/accountContacts/accountContacts.scss
  pandora-client-web/src/components/accountContacts/accountContacts.tsx
  pandora-client-web/src/components/chatroom/contextMenus/characterContextMenu.tsx
  pandora-client-web/src/components/header/Header.tsx
  pandora-client-web/src/networking/socketio_directory_connector.ts
  pandora-client-web/src/routing/Routes.tsx
  pandora-common/src/account/accountRoles.ts
  pandora-common/src/networking/client_directory.ts
  pandora-common/src/networking/directory_client.ts
  pandora-server-directory/src/account/account.ts
  pandora-server-directory/src/account/accountContacts.ts
  pandora-server-directory/src/account/accountDirectMessages.ts
  pandora-server-directory/src/account/character.ts
  pandora-server-directory/src/database/databaseProvider.ts
  pandora-server-directory/src/database/databaseStructure.ts
  pandora-server-directory/src/database/mockDb.ts
  pandora-server-directory/src/database/mongoDb.ts
  pandora-server-directory/src/networking/manager_client.ts
Labels: Type: Improvement, Component: Core, Component: Directory server, Type: Fix

#510 [ADD] more module interaction permissions
  pandora-common/src/assets/modules/common.ts
  pandora-common/src/assets/modules/lockSlot.ts
  pandora-common/src/assets/modules/storage.ts
  pandora-common/src/assets/modules/typed.ts
  pandora-common/src/character/restrictionsManager.ts
  pandora-common/src/gameLogic/interactions/_interactionConfig.ts
Labels: Type: Feature, Component: Core

#513 [CHANGE] better room construction
  pandora-client-web/src/character/character.ts
  pandora-client-web/src/components/chatroom/chatRoomDevice.tsx
  pandora-client-web/src/components/chatroom/chatRoomScene.tsx
  pandora-client-web/src/components/chatroom/chatroom.scss
  pandora-client-web/src/components/chatroom/chatroom.tsx
  pandora-client-web/src/components/chatroom/chatroomControls.tsx
  pandora-client-web/src/components/chatroom/contextMenus/deviceContextMenu.tsx
  pandora-common/src/assets/appearanceActions.ts
  pandora-common/src/assets/effects.ts
Labels: Component: Client, Component: Core, Component: Asset framework

#514 [FIX] do not store state in local storage only the settings
  pandora-client-web/src/components/chatroom/chatRoomDevice.tsx
  pandora-client-web/src/components/chatroom/chatroomControls.tsx
Labels: Component: Client, Type: Fix

#518 [REFACTOR] use service for http server and database
  pandora-server-directory/src/database/databaseProvider.ts
  pandora-server-directory/src/index.ts
  pandora-server-directory/src/lifecycle.ts
  pandora-server-directory/src/networking/httpServer.ts
  pandora-server-directory/test/database/databaseProvider.test.ts
  pandora-server-directory/test/utils.ts
  pandora-server-shard/src/database/databaseProvider.ts
  pandora-server-shard/src/index.ts
  pandora-server-shard/src/lifecycle.ts
  pandora-server-shard/src/networking/httpServer.ts
Labels: Component: Shard server, Component: Directory server

#515 [ADD] debug option to rate limit observables
  pandora-client-web/src/observable.ts
Labels: Component: Tooling, Component: Client

#517 [ADD] asset preference and item coloring permissions
  pandora-client-web/src/character/character.ts
  pandora-client-web/src/character/player.ts
  pandora-client-web/src/components/gameContext/gameStateContextProvider.tsx
  pandora-client-web/src/components/gameContext/playerContextProvider.tsx
  pandora-client-web/src/components/settings/permissionsSettings.tsx
  pandora-client-web/src/components/wardrobe/itemDetail/wardrobeItemColor.tsx
  pandora-client-web/src/components/wardrobe/views/wardrobeAssetView.tsx
  pandora-client-web/src/components/wardrobe/wardrobeCheckQueue.ts
  pandora-client-web/src/components/wardrobe/wardrobeComponents.tsx
  pandora-client-web/test/character/character.test.ts
  pandora-common/src/assets/appearanceActionProcessingContext.ts
  pandora-common/src/assets/appearanceActions.ts
  pandora-common/src/character/assetPreferences.ts
  pandora-common/src/character/characterData.ts
  pandora-common/src/character/restrictionsManager.ts
  pandora-common/src/gameLogic/assetPreferences/assetPreferencesSubsystem.ts
  pandora-common/src/gameLogic/assetPreferences/assetPreferencesSubsystemClient.ts
  pandora-common/src/gameLogic/assetPreferences/assetPreferencesSubsystemServer.ts
  pandora-common/src/gameLogic/assetPreferences/index.ts
  pandora-common/src/gameLogic/character/character.ts
  pandora-common/src/gameLogic/character/characterClient.ts
  pandora-common/src/gameLogic/character/characterServer.ts
  pandora-common/src/gameLogic/index.ts
  pandora-common/src/gameLogic/interactions/_interactionConfig.ts
  pandora-common/src/gameLogic/interactions/interactionSubsystemClient.ts
  pandora-common/src/gameLogic/permissions/permissionData.ts
  pandora-common/src/networking/client_shard.ts
  pandora-common/src/networking/shard_client.ts
  pandora-server-shard/src/character/character.ts
  pandora-server-shard/src/spaces/space.ts
Labels: Type: Feature, Component: Core

#524 [FIX] use integer-based accurate conversion for RGB/HSV
  pandora-client-web/src/components/common/colorInput/colorInput.scss
  pandora-client-web/src/components/common/colorInput/colorInput.tsx
Labels: Type: Improvement, Component: Client, Type: Fix

#529 [CHANGE] small permission UI improvements
  pandora-client-web/src/assets/icons/forbidden.svg
  pandora-client-web/src/assets/icons/prompt.svg
  pandora-client-web/src/assets/icons/public.svg
  pandora-client-web/src/components/settings/permissionsSettings.tsx
  pandora-client-web/src/components/settings/settings.scss
  pandora-common/src/gameLogic/interactions/_interactionConfig.ts
Labels: Type: Improvement, Component: Client

#532 [ADD] icons for all individual permissions
  pandora-client-web/src/assets/icons/arrow-right.svg
  pandora-client-web/src/assets/icons/body.svg
  pandora-client-web/src/assets/icons/cog-round.svg
  pandora-client-web/src/assets/icons/color.svg
  pandora-client-web/src/assets/icons/lock.svg
  pandora-client-web/src/assets/icons/on-off.svg
  pandora-client-web/src/assets/icons/questionmark.svg
  pandora-client-web/src/assets/icons/star.svg
  pandora-client-web/src/assets/icons/storage.svg
  pandora-client-web/src/assets/icons/toggle.svg
  pandora-client-web/src/components/settings/permissionsSettings.tsx
  pandora-client-web/src/components/settings/settings.scss
  pandora-client-web/src/components/wardrobe/wardrobeComponents.tsx
  pandora-common/src/gameLogic/assetPreferences/assetPreferencesSubsystem.ts
  pandora-common/src/gameLogic/interactions/_interactionConfig.ts
Labels: Type: Feature, Component: Client, Component: Core

#493 [ADD] new extended wiki and new player guideline
  pandora-client-web/src/assets/favicon-notification.png
  pandora-client-web/src/assets/favicon.png
  pandora-client-web/src/assets/icons/pandora.svg
  pandora-client-web/src/assets/pandora-discord-icon.png
  pandora-client-web/src/assets/pandora-discord-invite.png
  pandora-client-web/src/components/wardrobe/views/wardrobePoseView.tsx
  pandora-client-web/src/components/wiki/pages/characters.tsx
  pandora-client-web/src/components/wiki/pages/greeting.tsx
  pandora-client-web/src/components/wiki/pages/history.tsx
  pandora-client-web/src/components/wiki/pages/intro.tsx
  pandora-client-web/src/components/wiki/pages/items.tsx
  pandora-client-web/src/components/wiki/pages/safety.tsx
  pandora-client-web/src/components/wiki/pages/spaces.tsx
  pandora-client-web/src/components/wiki/wiki.tsx
  pandora-client-web/src/routing/Routes.tsx
  pandora-client-web/src/styles/_typography.scss
Labels: Type: Improvement, Type: Feature, Component: Client

#533 [FEATURE] item limits
  pandora-client-web/src/components/wardrobe/views/wardrobeOutfitView.tsx
  pandora-client-web/src/components/wardrobe/wardrobeBody.tsx
  pandora-client-web/src/components/wardrobe/wardrobeItems.tsx
  pandora-common/src/assets/appearanceValidation.ts
  pandora-common/src/assets/index.ts
  pandora-common/src/assets/itemLimits.ts
  pandora-common/src/assets/roomValidation.ts
  pandora-common/src/assets/validation.ts
  pandora-common/src/inputLimits.ts
  pandora-server-directory/src/account/account.ts
Labels: Component: Client, Component: Core

#536 [FEATURE] Items and storage usage meter
  pandora-client-web/src/components/wardrobe/views/wardrobeItemView.tsx
  pandora-client-web/src/components/wardrobe/views/wardrobeOutfitView.tsx
  pandora-client-web/src/components/wardrobe/wardrobe.scss
  pandora-client-web/src/components/wardrobe/wardrobeBody.tsx
  pandora-client-web/src/components/wardrobe/wardrobeComponents.tsx
  pandora-client-web/src/components/wardrobe/wardrobeItems.tsx
Labels: Type: Improvement, Component: Client

#534 [ADD] mitigation for timing based attack for sensitive functions
  pandora-server-directory/src/networking/manager_client.ts
Labels: Type: Feature, Component: Directory server

#537 [FEATURE] permission prompt and character based overrides
  pandora-client-web/src/common/useFunctionBind.ts
  pandora-client-web/src/components/gameContext/gameStateContextProvider.tsx
  pandora-client-web/src/components/gameContext/permissionCheckProvider.tsx
  pandora-client-web/src/components/settings/permissionsSettings.tsx
  pandora-client-web/src/components/wardrobe/views/wardrobeAssetView.tsx
  pandora-client-web/src/components/wardrobe/wardrobe.scss
  pandora-client-web/src/components/wardrobe/wardrobeComponents.tsx
  pandora-client-web/src/components/wardrobe/wardrobeContext.tsx
  pandora-client-web/src/components/wardrobe/wardrobeUtils.ts
  pandora-client-web/src/graphics/room/contextMenus/deviceContextMenu.tsx
  pandora-client-web/src/networking/socketio_shard_connector.ts
  pandora-common/src/assets/appearanceActionProcessingContext.ts
  pandora-common/src/character/restrictionsManager.ts
  pandora-common/src/gameLogic/assetPreferences/assetPreferencesSubsystem.ts
  pandora-common/src/gameLogic/interactions/_interactionConfig.ts
  pandora-common/src/gameLogic/interactions/interaction.ts
  pandora-common/src/gameLogic/permissions/permission.ts
  pandora-common/src/gameLogic/permissions/permissionClient.ts
  pandora-common/src/gameLogic/permissions/permissionData.ts
  pandora-common/src/gameLogic/permissions/permissionServer.ts
  pandora-common/src/networking/client_shard.ts
  pandora-common/src/networking/shard_client.ts
  pandora-common/src/utility.ts
  pandora-server-shard/src/networking/manager_client.ts
Labels: Type: Feature, Component: Client, Component: Shard server, Component: Core

#538 [FEATURE] hearing impairment
  pandora-common/src/assets/effects.ts
  pandora-common/src/character/restrictionsManager.ts
  pandora-common/src/character/speech.ts
  pandora-common/test/character/speech.test.ts
  pandora-server-shard/src/character/character.ts
Labels: Type: Feature, Component: Shard server, Component: Core, Component: Asset framework

#539 [FIX] minor permission prompt problems
  pandora-client-web/src/components/dialog/dialog.tsx
  pandora-client-web/src/components/settings/permissionsSettings.tsx
  pandora-common/src/gameLogic/permissions/permissionServer.ts
Labels: Component: Client, Component: Shard server, Type: Fix

#540 [ADD] definition based override for asset preference
  pandora-common/src/assets/definitions.ts
  pandora-common/src/character/assetPreferences.ts
Labels: Type: Feature, Component: Core, Component: Asset framework

#541 [FEATURE] Audit log
  pandora-common/src/logging.ts
  pandora-server-directory/src/account/accountManager.ts
  pandora-server-directory/src/account/accountSecure.ts
  pandora-server-directory/src/index.ts
  pandora-server-directory/src/logging.ts
  pandora-server-shard/src/index.ts
  pandora-server-shard/src/logging.ts
Labels: Type: Feature, Component: Shard server, Component: Core, Component: Directory server

#545 [FIX] maximum spaces space
  pandora-client-web/src/ui/screens/spaceConfiguration/spaceConfiguration.tsx
  pandora-common/src/inputLimits.ts
  pandora-common/src/space/space.ts
Labels: Type: Fix

#544 [FEATURE] Rework room perspective rendering
  pandora-client-web/src/assets/favicon-notification.png
  pandora-client-web/src/assets/favicon.png
  pandora-client-web/src/assets/pandora-discord-invite.png
  pandora-client-web/src/components/wardrobe/wardrobeGraphics.tsx
  pandora-client-web/src/graphics/graphicsCharacter.tsx
  pandora-client-web/src/graphics/room/roomCharacter.tsx
  pandora-client-web/src/graphics/room/roomDevice.tsx
  pandora-client-web/src/graphics/room/roomScene.tsx
  pandora-client-web/src/ui/screens/room/roomDebug.tsx
  pandora-client-web/src/ui/screens/spaceConfiguration/spaceConfiguration.tsx
  pandora-client-web/webpack.config.ts
  pandora-common/src/character/characterData.ts
  pandora-common/src/networking/client_shard.ts
  pandora-common/src/space/room.ts
  pandora-server-directory/test/spaces/testData.ts
  pandora-server-shard/src/character/character.ts
  pandora-server-shard/src/spaces/publicSpace.ts
  pandora-server-shard/src/spaces/space.ts
Labels: Type: Improvement, Component: Graphics, Complexity: 3 - High

#546 [CHANGE] variable renaming and improved comments
  pandora-common/src/assets/definitions.ts
  pandora-common/src/character/assetPreferences.ts
  pandora-common/src/character/speech.ts
Labels: Type: Improvement, Component: Core

#543 [FEATURE] prompt for untrusted links in chat
  pandora-client-web/src/components/Eula/privacyPolicy.tsx
  pandora-client-web/src/components/common/link/externalLink.tsx
  pandora-client-web/src/components/settings/accountSettings.tsx
  pandora-client-web/src/components/wiki/pages/intro.tsx
  pandora-client-web/src/editor/components/bones/bones.tsx
  pandora-client-web/src/editor/components/layer/layer.tsx
  pandora-client-web/src/ui/components/chat/chatMessages.tsx
Labels: Type: Feature, Component: Client

#549 [FIX] Add PIXI patch to support blocking unsafe-eval
  pandora-client-web/package.json
  pandora-client-web/src/graphics/pixiSettings.ts
  pnpm-lock.yaml
Labels: Component: Client, Type: Fix

#548 [FIX] Room position improvements
  pandora-common/src/space/room.ts
  pandora-server-shard/src/character/character.ts
  pandora-server-shard/src/spaces/publicSpace.ts
  pandora-server-shard/src/spaces/space.ts
Labels: Component: Shard server, Type: Fix

#547 [CHANGE] Small "untrusted link" dialog improvements
  pandora-client-web/src/components/common/link/externalLink.tsx
Labels: Type: Improvement, Component: Client

#550 [FEATURE] better permission prompt
  pandora-client-web/src/components/gameContext/gameStateContextProvider.tsx
  pandora-client-web/src/components/settings/permissionsSettings.tsx
  pandora-client-web/src/ui/components/chat/chat.tsx
  pandora-common/src/assets/appearanceActionProcessingContext.ts
  pandora-common/src/gameLogic/interactions/_interactionConfig.ts
  pandora-common/src/gameLogic/interactions/interaction.ts
  pandora-common/src/gameLogic/permissions/permission.ts
  pandora-common/src/gameLogic/permissions/permissionData.ts
  pandora-common/src/gameLogic/permissions/permissionServer.ts
  pandora-common/src/networking/client_shard.ts
  pandora-common/src/networking/shard_client.ts
  pandora-server-directory/src/spaces/spaceManager.ts
  pandora-server-shard/src/networking/manager_client.ts
  pandora-server-shard/src/spaces/space.ts
Labels: Component: Client, Component: Shard server, Component: Core

#551 [CHANGE] chat style changes and added configurable font size setting
  pandora-client-web/src/components/directMessage/directMessage.tsx
  pandora-client-web/src/components/settings/interfaceSettings.tsx
  pandora-client-web/src/styles/constants.ts
  pandora-client-web/src/styles/globalUtils.scss
  pandora-client-web/src/ui/components/chat/chat.tsx
  pandora-client-web/src/ui/components/chat/chatInput.tsx
  pandora-client-web/src/ui/components/chat/commandsProcessor.ts
  pandora-client-web/src/ui/screens/room/room.scss
  pandora-common/src/networking/directory_client.ts
Labels: Type: Improvement, Type: Feature, Component: Client

#555 [FIX] Properly update chat input saved state on send
  pandora-client-web/src/ui/components/chat/chatInput.tsx
Labels: Component: Client, Type: Fix

#553 [CHANGE] Updates to wiki and contribution guideline
  CONTRIBUTING.md
  pandora-client-web/src/components/settings/interfaceSettings.tsx
  pandora-client-web/src/components/settings/permissionsSettings.tsx
  pandora-client-web/src/components/settings/settings.scss
  pandora-client-web/src/components/wiki/pages/characters.tsx
  pandora-client-web/src/components/wiki/pages/contact.tsx
  pandora-client-web/src/components/wiki/pages/greeting.tsx
  pandora-client-web/src/components/wiki/pages/intro.tsx
  pandora-client-web/src/components/wiki/pages/items.tsx
  pandora-client-web/src/components/wiki/pages/safety.tsx
  pandora-client-web/src/components/wiki/pages/spaces.tsx
Labels: Type: Documentation, Type: Improvement, Component: Client

#554 [FEATURE] auto connect without redirect
  pandora-client-web/src/components/characterSelect/characterSelect.tsx
  pandora-client-web/src/components/gameContext/directoryConnectorContextProvider.tsx
  pandora-client-web/src/components/gameContext/shardConnectorContextProvider.tsx
  pandora-client-web/src/components/header/leaveButton.tsx
  pandora-client-web/src/networking/account_manager.ts
  pandora-client-web/src/networking/directoryConnector.ts
  pandora-client-web/src/networking/socketio_directory_connector.ts
  pandora-client-web/src/routing/Routes.tsx
  pandora-client-web/test/mocks/networking/mockDirectoryConnector.ts
  pandora-client-web/test/networking/account_manager.test.ts
  pnpm-lock.yaml
Labels: Type: Improvement, Component: Client

#557 [CHANGE] direct message UI
  pandora-client-web/src/components/directMessage/directMessage.scss
  pandora-client-web/src/components/directMessage/directMessage.tsx
  pandora-client-web/src/components/directMessages/directMessages.tsx
  pandora-client-web/src/components/wiki/pages/characters.tsx
  pandora-client-web/src/ui/screens/room/room.scss
  pandora-client-web/src/ui/screens/spacesSearch/spacesSearch.tsx
Labels: Type: Improvement, Component: Client

#556 [FEATURE] Localized error boundaries for client
  pandora-client-web/src/common/clipboard.ts
  pandora-client-web/src/components/common/tabs/tabs.tsx
  pandora-client-web/src/components/error/errorReport.ts
  pandora-client-web/src/components/error/forwardingErrorBoundary.tsx
  pandora-client-web/src/components/error/localErrorBoundary.scss
  pandora-client-web/src/components/error/localErrorBoundary.tsx
  pandora-client-web/src/components/error/rootErrorBoundary.tsx
  pandora-client-web/src/components/exportImport/exportDialog.tsx
  pandora-client-web/src/graphics/graphicsScene.tsx
  pandora-client-web/src/graphics/graphicsSceneRenderer.tsx
Labels: Type: Feature, Component: Client

#560 [FEATURE] space join
  pandora-client-web/.env.template
  pandora-client-web/src/components/directMessage/directMessage.scss
  pandora-client-web/src/components/directMessage/directMessage.tsx
  pandora-client-web/src/components/directMessage/directMessageCommandContext.tsx
  pandora-client-web/src/graphics/room/contextMenus/characterContextMenu.tsx
  pandora-client-web/src/routing/Routes.tsx
  pandora-client-web/src/ui/components/chat/chat.tsx
  pandora-client-web/src/ui/components/chat/chatInput.tsx
  pandora-client-web/src/ui/components/chat/chatMessages.tsx
  pandora-client-web/src/ui/components/chat/commands.ts
  pandora-client-web/src/ui/components/chat/commandsProcessor.ts
  pandora-client-web/src/ui/screens/spaceConfiguration/spaceConfiguration.scss
  pandora-client-web/src/ui/screens/spaceConfiguration/spaceConfiguration.tsx
  pandora-client-web/src/ui/screens/spaceJoin/spaceJoin.scss
  pandora-client-web/src/ui/screens/spaceJoin/spaceJoin.tsx
  pandora-client-web/src/ui/screens/spacesSearch/spacesSearch.tsx
  pandora-common/src/inputLimits.ts
  pandora-common/src/networking/client_directory.ts
  pandora-common/src/space/space.ts
  pandora-server-directory/src/account/character.ts
  pandora-server-directory/src/database/dbHelper.ts
  pandora-server-directory/src/networking/manager_client.ts
  pandora-server-directory/src/spaces/space.ts
  pandora-server-directory/src/spaces/spaceManager.ts
Labels: Type: Feature, Component: Client, Component: Directory server
