Repository Project-Pandora-Game/pandora, pull requests merged in 2024-05, with the labels that each got.

#744 [FEATURE] item custom name and description
  pandora-client-web/src/assets/appearanceValidation.ts
  pandora-client-web/src/components/settings/interfaceSettings.tsx
  pandora-client-web/src/components/wardrobe/itemDetail/_wardrobeItemDetail.tsx
  pandora-client-web/src/components/wardrobe/itemDetail/wardrobeItemName.tsx
  pandora-client-web/src/components/wardrobe/modules/wardrobeModuleLockSlot.tsx
  pandora-client-web/src/components/wardrobe/views/wardrobeItemView.tsx
  pandora-client-web/src/components/wardrobe/views/wardrobePoseView.tsx
  pandora-client-web/src/components/wardrobe/views/wardrobeSecondaryInventoryView.tsx
  pandora-client-web/src/components/wardrobe/wardrobe.scss
  pandora-client-web/src/components/wardrobe/wardrobeComponents.tsx
  pandora-client-web/src/components/wardrobe/wardrobeContext.tsx
  pandora-client-web/src/components/wardrobe/wardrobeTypes.ts
  pandora-client-web/src/editor/components/wardrobe/wardrobe.tsx
  pandora-client-web/src/ui/components/chat/chat.tsx
  pandora-client-web/src/ui/components/chat/chatMessages.tsx
  pandora-common/src/account/settings.ts
  pandora-common/src/assets/appearanceActions.ts
  pandora-common/src/assets/appearanceHelpers.ts
  pandora-common/src/assets/appearanceValidation.ts
  pandora-common/src/assets/item/_internal.ts
  pandora-common/src/assets/item/base.ts
  pandora-common/src/assets/item/lock.ts
  pandora-common/src/assets/item/roomDevice.ts
  pandora-common/src/assets/item/roomDeviceWearablePart.ts
  pandora-common/src/assets/item/unified.ts
  pandora-common/src/assets/modules.ts
  pandora-common/src/assets/modules/storage.ts
  pandora-common/src/assets/validation.ts
  pandora-common/src/character/restrictionTypes.ts
  pandora-common/src/character/restrictionsManager.ts
  pandora-common/src/chat/chat.ts
  pandora-common/src/inputLimits.ts
Labels: Type: Feature, Component: Asset framework

#748 [CHANGE] limit item custom name characters
  pandora-common/src/assets/appearanceActions.ts
  pandora-common/src/assets/item/unified.ts
  pandora-common/src/inputLimits.ts
Labels: Type: Improvement

#749 [CHANGE] item description UI
  pandora-client-web/src/components/wardrobe/itemDetail/_wardrobeItemDetail.tsx
  pandora-common/src/assets/item/_internal.ts
Labels: Type: Improvement, Component: Client, Component: Core, Type: Fix

#752 [CHANGE] refine item customization UI and fix errors
  pandora-client-web/src/assets/appearanceValidation.ts
  pandora-client-web/src/components/wardrobe/itemDetail/_wardrobeItemDetail.tsx
  pandora-client-web/src/components/wardrobe/modules/wardrobeModuleLockSlot.tsx
  pandora-client-web/src/components/wardrobe/wardrobe.scss
  pandora-common/src/assets/appearanceActionProcessingContext.ts
  pandora-common/src/assets/appearanceActions.ts
  pandora-common/src/character/restrictionTypes.ts
  pandora-common/src/inputLimits.ts
Labels: Type: Improvement, Component: Client, Type: Fix, Component: Asset framework

#751 [FEATURE] item spawned by property
  pandora-common/src/assets/appearanceActions.ts
  pandora-common/src/assets/appearanceValidation.ts
  pandora-common/src/assets/assetManager.ts
  pandora-common/src/assets/item/_internal.ts
  pandora-common/src/assets/item/base.ts
  pandora-common/src/assets/item/unified.ts
  pandora-common/src/assets/state/characterState.ts
Labels: Type: Feature, Component: Directory server, Component: Asset framework

#753 [ADD] `passwordSetBy` as id of the character who set password on locks as hidden data
  pandora-common/src/assets/item/lock.ts
Labels: Type: Feature, Component: Asset framework

#757 [FIX] Do not freeze asset preferences data before cleanup
  pandora-common/src/gameLogic/assetPreferences/assetPreferencesSubsystemServer.ts
Labels: Component: Shard server, Type: Fix, Priority: High

#758 [FIX] Downgrade pnpm to 9.0.6 due to failing deployment, add Docker CI
  .github/workflows/ci.yml
  package.json
Labels: Component: Tooling, Type: Fix, Priority: High

#763 [FIX] Revert "[CHORE] Update pnpm to v9.1.0"
  package.json
Labels: Component: Tooling, Type: Fix

#760 [FIX] wardrobe editing item screen closing
  pandora-client-web/src/components/wardrobe/itemDetail/_wardrobeItemDetail.tsx
Labels: Component: Client, Type: Fix

#768 [FEATURE] Multiple texture resolutions support
  pandora-client-web/src/assets/assetGraphics.ts
  pandora-client-web/src/assets/graphicsLoader.ts
  pandora-client-web/src/assets/graphicsManager.ts
  pandora-client-web/src/components/settings/helpers/settingsInputs.tsx
  pandora-client-web/src/editor/index.tsx
  pandora-client-web/src/graphics/graphicsLayer.tsx
  pandora-client-web/src/graphics/graphicsScene.tsx
  pandora-client-web/src/graphics/graphicsSettings.tsx
  pandora-client-web/src/graphics/room/roomDevice.tsx
  pandora-client-web/src/graphics/useTexture.ts
  pandora-client-web/src/services/screenResolution/screenResolution.ts
  pandora-client-web/test/setup.ts
Labels: Type: Feature, Component: Graphics

#771 [CHANGE] lazy load hcaptcha
  pandora-client-web/src/components/common/form/form.tsx
  pandora-client-web/src/components/common/form/formFieldCaptcha.tsx
  pandora-client-web/src/components/gameContext/directoryConnectorContextProvider.tsx
  pandora-client-web/src/components/login/forms/forgotPasswordForm.tsx
  pandora-client-web/src/components/login/forms/registrationForm.tsx
  pandora-client-web/src/components/login/forms/resendVerificationAdvancedForm.tsx
  pandora-client-web/src/components/login/forms/resendVerificationForm.tsx
Labels: Type: Improvement, Component: Client

#773 [FIX] prevent character randomize action in room devices
  pandora-client-web/src/assets/appearanceValidation.ts
  pandora-common/src/assets/appearanceActions.ts
  pandora-common/src/character/restrictionTypes.ts
Labels: Type: Fix, Component: Asset framework

#775 [FEATURE] New attribute 'limit'
  pandora-common/src/assets/appearanceValidation.ts
Labels: Component: Client, Component: Asset framework
