Repository Project-Pandora-Game/pandora, pull requests merged in 2024-08, with the labels that each got.

#790 [FEATURE] Add an initial room entry notification
  pandora-client-web/jest.config.js
  pandora-client-web/src/audio/bing.mp3
  pandora-client-web/src/components/gameContext/directoryConnectorContextProvider.tsx
  pandora-client-web/src/components/gameContext/gameStateContextProvider.tsx
  pandora-client-web/src/components/gameContext/notificationContextProvider.tsx
  pandora-client-web/src/components/gameContext/shardConnectorContextProvider.tsx
  pandora-client-web/src/components/settings/notificationSettings.tsx
  pandora-client-web/src/components/settings/settings.tsx
  pandora-client-web/src/networking/shardConnector.ts
  pandora-client-web/src/networking/socketio_shard_connector.ts
  pandora-client-web/src/typedefs.d.ts
  pandora-client-web/test/components/gameContext/shardConnectorContextProvider.test.ts
  pandora-client-web/test/mocks/networking/mockShardConnector.ts
  pandora-client-web/test/networking/account_manager.test.ts
  pandora-client-web/test/networking/socketio_shard_connector.test.ts
  pandora-client-web/test/testUtils.tsx
  pandora-client-web/webpack.config.ts
  pandora-common/src/account/settings.ts
Labels: Type: Feature, Component: Client

#817 [FIX] Typo in the notifications tab title
  pandora-client-web/src/components/settings/settings.tsx
Labels: Component: Client, Type: Fix

#815 [FEATURE] Allow making space public without admin
  pandora-client-web/src/assets/icons/shield-slashed.svg
  pandora-client-web/src/assets/icons/shield.svg
  pandora-client-web/src/character/character.ts
  pandora-client-web/src/components/wiki/pages/intro.tsx
  pandora-client-web/src/components/wiki/pages/new.tsx
  pandora-client-web/src/components/wiki/pages/spaces.tsx
  pandora-client-web/src/observable.ts
  pandora-client-web/src/ui/screens/room/room.scss
  pandora-client-web/src/ui/screens/room/roomControls.tsx
  pandora-client-web/src/ui/screens/spaceConfiguration/spaceConfiguration.tsx
  pandora-client-web/src/ui/screens/spacesSearch/spacesSearch.scss
  pandora-client-web/src/ui/screens/spacesSearch/spacesSearch.tsx
  pandora-common/src/space/space.ts
  pandora-server-directory/src/spaces/space.ts
  pandora-server-directory/test/spaces/testData.ts
  pandora-server-shard/src/spaces/personalSpace.ts
Labels: Type: Feature, Component: Client, Component: Directory server

#816 [CHANGE] Allow reordering locked items
  pandora-common/src/assets/appearanceActions.ts
  pandora-common/src/character/restrictionTypes.ts
  pandora-common/src/character/restrictionsManager.ts
Labels: Type: Improvement, Component: Asset framework

#820 [FEATURE] Locked spaces
  pandora-client-web/src/components/wiki/pages/spaces.tsx
  pandora-client-web/src/icons/closed-door-locked.svg
  pandora-client-web/src/styles/_common.scss
  pandora-client-web/src/styles/_theming.scss
  pandora-client-web/src/styles/_typography.scss
  pandora-client-web/src/ui/screens/spaceConfiguration/spaceConfiguration.tsx
  pandora-client-web/src/ui/screens/spaceJoin/spaceJoin.tsx
  pandora-client-web/src/ui/screens/spacesSearch/spacesSearch.scss
  pandora-client-web/src/ui/screens/spacesSearch/spacesSearch.tsx
  pandora-common/src/space/space.ts
  pandora-server-directory/src/account/accountContacts.ts
  pandora-server-directory/src/networking/manager_client.ts
  pandora-server-directory/src/spaces/space.ts
Labels: Type: Improvement, Type: Feature, Component: Client, Component: Directory server

#822 [FIX] Fix character connection problems
  pandora-client-web/src/components/error/debugContextProvider.tsx
  pandora-client-web/src/components/gameContext/directoryConnectorContextProvider.tsx
  pandora-client-web/src/components/gameContext/gameContextProvider.tsx
  pandora-client-web/src/components/gameContext/shardConnectorContextProvider.tsx
  pandora-client-web/src/components/wardrobe/wardrobeGraphics.tsx
  pandora-client-web/src/graphics/room/roomScene.tsx
  pandora-client-web/src/networking/directoryConnector.ts
  pandora-client-web/src/networking/shardConnector.ts
  pandora-client-web/src/networking/socketio_connector.ts
  pandora-client-web/src/services/accountLogic/accountManager.ts
  pandora-client-web/src/services/clientServices.ts
  pandora-client-web/src/services/shardConnectionManager.ts
  pandora-client-web/test/components/gameContext/directoryConnectorContextProvider.test.ts
  pandora-client-web/test/components/gameContext/shardConnectorContextProvider.test.ts
  pandora-client-web/test/networking/account_manager.test.ts
  pandora-client-web/test/testUtils.tsx
  pandora-server-directory/src/account/character.ts
  pandora-server-directory/src/networking/connection_client.ts
  pandora-server-shard/src/networking/socketio_client_server.ts
  pandora-server-shard/src/networking/socketio_directory_connector.ts
Labels: Component: Client, Type: Fix

#823 [FIX] Fixes wardrobe previews
  pandora-client-web/src/components/common/button/button.tsx
  pandora-client-web/src/components/wardrobe/views/wardrobeOutfitView.tsx
  pandora-client-web/src/components/wardrobe/wardrobeComponents.tsx
  pandora-client-web/src/graphics/graphicsSceneRenderer.tsx
  pandora-client-web/src/services/serviceProvider.tsx
Labels: Component: Client, Type: Fix

#818 [ADD] more variety to the room notifications
  pandora-client-web/src/audio/alert.mp3
  pandora-client-web/src/audio/alert_licence.md
  pandora-client-web/src/audio/bell.mp3
  pandora-client-web/src/audio/bell_licence.md
  pandora-client-web/src/audio/bing_licence.md
  pandora-client-web/src/audio/ding-ding.mp3
  pandora-client-web/src/audio/ding-ding_licence.md
  pandora-client-web/src/components/gameContext/shardConnectorContextProvider.tsx
  pandora-client-web/src/components/settings/helpers/accountSettings.tsx
  pandora-client-web/src/components/settings/helpers/settingsInputs.tsx
  pandora-client-web/src/components/settings/notificationSettings.tsx
  pandora-client-web/src/components/settings/settings.scss
  pandora-client-web/src/services/notificationHandler.ts
  pandora-common/src/account/settings.ts
Labels: Type: Improvement, Component: Client

#825 [ADD] Service manager support for Editor
  pandora-client-web/src/editor/editorContextProvider.tsx
  pandora-client-web/src/editor/index.tsx
  pandora-client-web/src/editor/services/editorServices.ts
  pandora-client-web/src/editor/services/editorShardConnectionManager.ts
  pandora-client-web/src/services/clientServices.ts
  pandora-client-web/src/services/serviceProvider.tsx
  pandora-client-web/src/services/shardConnectionManager.ts
  pandora-common/src/services/service.ts
Labels: Type: Feature, Type: Fix, Component: Asset Editor

#826 [DEV] Make use of TypeScript project references and ESLint project service
  package.json
  pandora-client-web/.eslintrc.json
  pandora-client-web/src/components/settings/accountSettings.tsx
  pandora-client-web/test/tsconfig.json
  pandora-client-web/test/tsconfig.setup.json
  pandora-client-web/tsconfig.json
  pandora-common/.eslintrc.json
  pandora-common/package.json
  pandora-common/tsconfig.base.json
  pandora-common/tsconfig.json
  pandora-server-directory/test/tsconfig.json
  pandora-server-directory/tsconfig.json
  pandora-server-shard/test/tsconfig.json
  pandora-server-shard/tsconfig.json
  pandora-tests/test/tsconfig.json
  pnpm-lock.yaml
Labels: Type: Improvement, Component: Tooling

#827 [FIX] body positioning and editor maintenance
  pandora-client-web/src/assets/maid.png
  pandora-client-web/src/components/profileScreens/characterProfile.tsx
  pandora-client-web/src/components/wiki/pages/intro.tsx
  pandora-client-web/src/editor/assetLoader.ts
  pandora-client-web/src/editor/components/assets/assets.tsx
  pandora-client-web/src/editor/components/layer/layer.tsx
  pandora-client-web/src/editor/index.tsx
  pandora-client-web/src/graphics/room/roomCharacter.tsx
  pandora-common/src/assets/appearanceLimit.ts
Labels: Type: Improvement, Component: Client, Type: Fix, Component: Asset Editor
