Repository Project-Pandora-Game/pandora, pull requests merged in 2024-04, with the labels that each got.

#626 [FEATURE] character delete
  pandora-client-web/src/components/common/button/button.scss
  pandora-client-web/src/components/common/button/button.tsx
  pandora-client-web/src/components/settings/characterSettings.tsx
  pandora-common/src/networking/client_directory.ts
  pandora-server-directory/src/account/account.ts
  pandora-server-directory/src/networking/manager_client.ts
  pandora-server-directory/test/networking/connection_client.test.ts
Labels: Type: Feature, Component: Client, Component: Directory server

#627 [CHORE] update NodeJs version to latest LTS: v20
  .github/renovate.json
  .github/workflows/ci.yml
  Dockerfile
  README.md
  pandora-client-web/README.md
  pandora-client-web/package.json
  pandora-common/package.json
  pandora-server-directory/package.json
  pandora-server-shard/package.json
  pandora-tests/package.json
  pnpm-lock.yaml
Labels: Type: Improvement, Component: Tooling

#629 [ADD] button icons and feature to toggle the character name
  pandora-client-web/src/assets/icons/people-arrows.svg
  pandora-client-web/src/assets/icons/tools.svg
  pandora-client-web/src/components/common/button/button.scss
  pandora-client-web/src/components/header/leaveButton.scss
  pandora-client-web/src/components/header/leaveButton.tsx
  pandora-client-web/src/components/profileScreens/accountProfile.tsx
  pandora-client-web/src/components/profileScreens/characterProfile.tsx
  pandora-client-web/src/components/settings/accountSettings.tsx
  pandora-client-web/src/components/settings/settings.tsx
  pandora-client-web/src/components/wardrobe/wardrobe.scss
  pandora-client-web/src/components/wiki/pages/history.tsx
  pandora-client-web/src/editor/components/previewCutter/previewCutter.scss
  pandora-client-web/src/graphics/room/roomCharacter.tsx
  pandora-client-web/src/routing/Routes.tsx
  pandora-client-web/src/styles/_forms.scss
  pandora-client-web/src/ui/screens/room/roomControls.tsx
  pandora-client-web/src/ui/screens/room/roomDebug.tsx
  pandora-client-web/src/ui/screens/spaceConfiguration/spaceConfiguration.scss
Labels: Type: Improvement, Type: Feature, Component: Client

#630 [ADD] Metrics for beta registrations
  pandora-server-directory/src/services/betaRegistration/betaRegistration.ts
  pandora-server-directory/src/services/discord/discordBot.ts
Labels: Type: Improvement, Component: Directory server

#633 [FIX] Coloring-fieldset showing when the asset has no colors
  pandora-client-web/src/components/wardrobe/itemDetail/wardrobeItemColor.tsx
  pandora-client-web/src/components/wiki/pages/characters.tsx
Labels: Component: Client, Type: Fix

#635 [CHORE] Regenerate dependencies lockfile
  pnpm-lock.yaml
Labels: Component: Tooling

#628 [FIX] move character name input to prevent autocomplete
  pandora-client-web/src/components/settings/characterSettings.tsx
  pandora-client-web/src/components/settings/settings.scss
  pandora-common/src/networking/client_directory.ts
  pandora-server-directory/src/account/account.ts
  pandora-server-directory/src/account/character.ts
  pandora-server-directory/src/networking/manager_client.ts
  pandora-server-directory/test/networking/connection_client.test.ts
Labels: Component: Client, Type: Fix

#634 [FIX] Fix version check dialog layout
  pandora-client-web/src/components/versionCheck/versionCheck.tsx
Labels: Component: Client, Type: Fix

#638 [CHANGE] Set display name during registration
  pandora-client-web/src/components/login/forms/registrationForm.tsx
  pandora-client-web/src/components/wiki/pages/safety.tsx
  pandora-client-web/src/networking/account_manager.ts
  pandora-client-web/test/components/login/forms/registrationForm.test.tsx
  pandora-client-web/test/components/login/loginTestData.ts
  pandora-client-web/test/networking/account_manager.test.ts
  pandora-common/src/networking/client_directory.ts
  pandora-server-directory/src/account/account.ts
  pandora-server-directory/src/account/accountManager.ts
  pandora-server-directory/src/database/mockDb.ts
  pandora-server-directory/src/networking/manager_client.ts
  pandora-server-directory/test/account/account.test.ts
  pandora-server-directory/test/account/accountManager.test.ts
  pandora-server-directory/test/account/accountProcedures.test.ts
  pandora-server-directory/test/account/accountSecure.test.ts
  pandora-server-directory/test/database/db.ts
  pandora-server-directory/test/database/mongoDb.test.ts
  pandora-server-directory/test/utils.ts
Labels: Type: Improvement, Component: Client, Component: Directory server

#637 [FIX] Start database process detached to prevent killing it too early
  pandora-server-directory/src/database/mongoDb.ts
  pandora-server-directory/src/lifecycle.ts
Labels: Component: Directory server, Type: Fix

#640 [ADD] disable submit button while last action is processing
  pandora-client-web/src/components/characterCreate/characterCreate.tsx
  pandora-client-web/src/components/login/forms/accountVerificationForm.tsx
  pandora-client-web/src/components/login/forms/forgotPasswordForm.tsx
  pandora-client-web/src/components/login/forms/loginForm.tsx
  pandora-client-web/src/components/login/forms/registrationForm.tsx
  pandora-client-web/src/components/login/forms/resendVerificationForm.tsx
  pandora-client-web/src/components/login/forms/resetPasswordForm.tsx
  pandora-client-web/src/components/login/forms/useLoginForm.ts
Labels: Type: Improvement, Component: Client

#641 [ADD] empty whisper unset the current target
  pandora-client-web/src/ui/components/chat/commands.ts
  pandora-common/src/commands/executor.ts
Labels: Type: Improvement, Component: Client

#644 [ADD] Beta registration pruning
  pandora-common/src/utility.ts
  pandora-server-directory/src/database/databaseStructure.ts
  pandora-server-directory/src/services/betaRegistration/betaRegistration.ts
  pandora-server-directory/src/services/discord/commands/registration.ts
Labels: Type: Improvement, Component: Directory server

#646 [FIX] correctly set updating guard to default state
  pandora-server-directory/src/account/accountContacts.ts
Labels: Component: Directory server, Type: Fix

#649 [ADD] escape key down handlers to permission UI and confirm dialog
  pandora-client-web/src/components/dialog/dialog.tsx
  pandora-client-web/src/components/header/leaveButton.tsx
  pandora-client-web/src/components/settings/permissionsSettings.tsx
Labels: Type: Improvement, Component: Client

#647 [CHANGE] Several database migrations
  pandora-client-web/src/ui/screens/spaceJoin/spaceJoin.tsx
  pandora-common/src/space/space.ts
  pandora-server-directory/src/database/databaseStructure.ts
  pandora-server-directory/src/database/dbHelper.ts
  pandora-server-directory/src/database/mockDb.ts
  pandora-server-directory/src/database/mongoDb.ts
  pandora-server-directory/src/database/validatedCollection.ts
  pandora-server-directory/test/database/db.ts
  pandora-server-directory/test/spaces/spaceManager.test.ts
  pandora-server-shard/src/database/mongoDb.ts
Labels: Type: Improvement, Component: Core, Component: Directory server

#651 [CHANGE] renamed errFull to spaceFull and improved permission dialog
  pandora-client-web/src/components/settings/permissionsSettings.tsx
  pandora-client-web/src/components/wiki/pages/new.tsx
  pandora-client-web/src/components/wiki/pages/spaces.tsx
  pandora-common/src/gameLogic/interactions/_interactionConfig.ts
  pandora-common/src/networking/client_directory.ts
  pandora-server-directory/src/account/character.ts
  pandora-server-directory/src/networking/manager_client.ts
  pandora-server-directory/src/spaces/space.ts
Labels: Type: Improvement, Component: Core, Component: Directory server

#661 [ADD] user readable error for space join results
  pandora-client-web/src/ui/screens/spacesSearch/spacesSearch.tsx
Labels: Type: Improvement, Component: Client

#663 [FIX] color input mouse up should be handled even outside
  pandora-client-web/src/components/common/colorInput/colorInput.tsx
Labels: Component: Client, Type: Fix

#662 [FIX] directory action message target property
  pandora-server-shard/src/spaces/space.ts
Labels: Component: Shard server, Type: Fix

#648 [ADD] zoom to wardrobe screen
  pandora-client-web/src/components/wardrobe/wardrobeGraphics.tsx
Labels: Type: Improvement, Component: Client

#666 [DEV] Update editor asset template
  pandora-client-web/src/editor/assets/assetManager.ts
Labels: Type: Fix, Component: Asset Editor

#667 [FIX] Fix buttons getting pushed to new lines
  pandora-client-web/src/components/common/button/button.scss
Labels: Component: Client, Type: Fix

#665 [FIX] a wrong link in the README.md
  README.md
Labels: Type: Documentation, Type: Fix

#668 [CHANGE] Disable alphamasks by default
  pandora-client-web/src/components/settings/helpers/settingsInputs.tsx
  pandora-client-web/src/graphics/graphicsSettings.tsx
Labels: Type: Improvement, Component: Graphics

#699 [CHANGE] drop development mode requirement for asset watcher
  pandora-server-shard/src/assets/assetManager.ts
Labels: Type: Improvement, Component: Shard server

#692 [FIX] Don't insert a space for `/me` messages that start with `'s`
  pandora-client-web/src/ui/components/chat/chat.tsx
Labels: Type: Improvement, Component: Client

#695 [FEATURE] Add setting to increase the font size of the name under a character on the canvas
  pandora-client-web/src/components/settings/interfaceSettings.tsx
  pandora-client-web/src/graphics/room/roomCharacter.tsx
  pandora-common/src/account/settings.ts
Labels: Type: Feature, Component: Graphics

#701 [FEATURE] Zoom canvas to default by double clicking
  pandora-client-web/src/graphics/room/roomScene.tsx
Labels: Type: Feature, Component: Client

#697 [FIX] Fix Direct messages getting squished on Chrome
  pandora-client-web/src/components/directMessage/directMessage.scss
  pandora-client-web/src/components/directMessage/directMessage.tsx
Labels: Component: Client, Type: Fix, Priority: High

#700 [FIX] _ should be displayed as is in character name and assets
  pandora-client-web/src/ui/components/chat/chatMessages.tsx
  pandora-client-web/src/ui/components/chat/chatParser.ts
Labels: Component: Client, Type: Fix

#671 [CHANGE] Replace arrows with /u-code
  pandora-common/src/commands/executor.ts
Labels: Component: Client, Type: Fix

#694 [CHANGE] Unify style of profile editor and display
  pandora-client-web/src/components/profileScreens/accountProfile.tsx
  pandora-client-web/src/components/profileScreens/characterProfile.tsx
  pandora-client-web/src/components/profileScreens/profileScreens.scss
  pandora-client-web/src/styles/_constants.scss
Labels: Type: Improvement, Component: Client

#696 [CHANGE] Standardize ColorInput Component
  pandora-client-web/src/components/common/colorInput/colorInput.tsx
  pandora-client-web/src/components/settings/accountSettings.tsx
  pandora-client-web/src/components/settings/characterSettings.tsx
  pandora-client-web/src/ui/screens/spaceConfiguration/spaceConfiguration.tsx
Labels: Type: Improvement, Component: Client

#702 [FEATURE] change email for not activated accounts
  pandora-client-web/src/components/login/forms/resendVerificationAdvancedForm.tsx
  pandora-client-web/src/components/login/forms/resendVerificationForm.tsx
  pandora-client-web/src/networking/account_manager.ts
  pandora-client-web/src/routing/authRoutingData.ts
  pandora-common/src/networking/client_directory.ts
  pandora-server-directory/src/account/accountSecure.ts
  pandora-server-directory/src/config.ts
  pandora-server-directory/src/database/databaseProvider.ts
  pandora-server-directory/src/database/mockDb.ts
  pandora-server-directory/src/database/mongoDb.ts
  pandora-server-directory/src/networking/manager_client.ts
Labels: Type: Feature, Component: Directory server

#705 [FEATURE] pose preset storage
  pandora-client-web/src/assets/icons/triangle_down.svg
  pandora-client-web/src/assets/icons/triangle_up.svg
  pandora-client-web/src/components/common/colorInput/colorInput.tsx
  pandora-client-web/src/components/dialog/dialog.tsx
  pandora-client-web/src/components/help/contextHelpButton.tsx
  pandora-client-web/src/components/settings/permissionsSettings.tsx
  pandora-client-web/src/components/wardrobe/poseDetail/storedPosePresets.scss
  pandora-client-web/src/components/wardrobe/poseDetail/storedPosePresets.tsx
  pandora-client-web/src/components/wardrobe/views/wardrobePoseView.tsx
  pandora-common/src/assets/item/unified.ts
  pandora-common/src/assets/state/characterStatePose.ts
  pandora-common/src/inputLimits.ts
  pandora-common/src/networking/client_directory.ts
  pandora-common/src/networking/directory_client.ts
  pandora-server-directory/src/account/account.ts
  pandora-server-directory/src/database/databaseStructure.ts
  pandora-server-directory/src/networking/manager_client.ts
Labels: Type: Feature, Component: Client, Component: Directory server

#650 [FEATURE] arm side order
  pandora-client-web/src/components/wardrobe/poseDetail/storedPosePresets.tsx
  pandora-client-web/src/components/wardrobe/views/wardrobePoseView.tsx
  pandora-client-web/src/editor/components/bones/bones.tsx
  pandora-client-web/src/graphics/def.ts
  pandora-client-web/src/graphics/graphicsCharacter.tsx
  pandora-common/src/assets/appearance.ts
  pandora-common/src/assets/appearanceActions.ts
  pandora-common/src/assets/appearanceLimit.ts
  pandora-common/src/assets/definitions.ts
  pandora-common/src/assets/graphics/graphics.ts
  pandora-common/src/assets/state/characterStatePose.ts
Labels: Type: Feature, Component: Client, Component: Asset framework

#712 [FEATURE] better parse when pasting color values
  pandora-client-web/package.json
  pandora-client-web/src/components/common/colorInput/colorInput.tsx
  pnpm-lock.yaml
Labels: Type: Improvement, Component: Client

#715 [ADD] a shortcut from the device context menu to the inventory view
  pandora-client-web/src/components/wardrobe/views/wardrobeItemView.tsx
  pandora-client-web/src/components/wardrobe/wardrobe.scss
  pandora-client-web/src/components/wardrobe/wardrobeContext.tsx
  pandora-client-web/src/components/wardrobe/wardrobeItems.tsx
  pandora-client-web/src/components/wardrobe/wardrobeTypes.ts
  pandora-client-web/src/editor/components/wardrobe/wardrobe.tsx
  pandora-client-web/src/graphics/room/contextMenus/deviceContextMenu.tsx
Labels: Type: Improvement, Component: Client

#713 [ADD] show device modules in wearable part
  pandora-client-web/src/components/wardrobe/itemDetail/_wardrobeItemDetail.tsx
  pandora-client-web/src/components/wardrobe/itemDetail/wardrobeItemRoomDevice.tsx
  pandora-client-web/src/components/wardrobe/modules/wardrobeModuleLockSlot.tsx
  pandora-client-web/src/components/wardrobe/modules/wardrobeModuleStorage.tsx
  pandora-client-web/src/components/wardrobe/views/wardrobeExpressionsView.tsx
  pandora-client-web/src/components/wardrobe/views/wardrobeItemView.tsx
  pandora-client-web/src/components/wardrobe/wardrobeBody.tsx
  pandora-client-web/src/components/wardrobe/wardrobeContext.tsx
  pandora-client-web/src/components/wardrobe/wardrobeGraphics.tsx
  pandora-client-web/src/components/wardrobe/wardrobeItems.tsx
  pandora-client-web/src/components/wardrobe/wardrobeTypes.ts
  pandora-client-web/src/components/wardrobe/wardrobeUtils.ts
  pandora-client-web/src/editor/components/wardrobe/wardrobe.tsx
  pandora-client-web/src/graphics/room/contextMenus/deviceContextMenu.tsx
  pandora-client-web/src/graphics/room/roomDevice.tsx
Labels: Type: Improvement, Component: Client

#723 [FIX] focus previous on lock slot
  pandora-client-web/src/components/wardrobe/itemDetail/_wardrobeItemDetail.tsx
  pandora-client-web/src/components/wardrobe/views/wardrobeItemView.tsx
Labels: Component: Client, Type: Fix

#724 [FIX] GitHub verify
  pandora-server-directory/src/services/github/githubVerify.ts
Labels: Component: Directory server, Type: Fix

#727 [FEATURE] alternative image format support
  pandora-client-web/src/assets/assetManager.ts
  pandora-client-web/src/assets/graphicsManager.ts
  pandora-client-web/src/editor/assetLoader.ts
  pandora-common/src/assets/graphics/graphics.ts
Labels: Type: Feature, Component: Client, Component: Asset framework

#730 [FIX] Check new asset definitions are valid before trying to load them
  pandora-server-shard/src/assets/assetManager.ts
Labels: Component: Shard server, Type: Fix

#731 [CHANGE] Do not require hands usage for entering and leaving room devices
  pandora-common/src/assets/appearanceActions.ts
  pandora-common/src/character/restrictionTypes.ts
  pandora-common/src/character/restrictionsManager.ts
Labels: Type: Improvement, Component: Asset framework

#733 [CHANGE] Improve robustness of DM encryption checks
  pandora-client-web/src/components/directMessage/directMessage.tsx
  pandora-client-web/src/crypto/symmetric.ts
  pandora-client-web/src/networking/directMessageManager.ts
Labels: Type: Improvement, Component: Client

#736 [FIX] Revert "[FIX] Clear occupied slots after character leaves space"
  pandora-common/src/assets/state/globalState.ts
  pandora-common/src/assets/state/roomState.ts
  pandora-common/test/assets/state/globalState.test.ts
  pandora-common/test/assets/state/roomState.test.ts
  pandora-common/test/stateUtils.ts
Labels: Type: Fix, Priority: High

#741 [CHANGE] message toasts location and fixes not working word wrapping in the profiles
  pandora-client-web/src/components/profileScreens/profileScreens.scss
  pandora-client-web/src/editor/index.tsx
  pandora-client-web/src/index.tsx
  pandora-client-web/src/styles/_constants.scss
  pandora-client-web/src/ui/screens/room/room.scss
  pandora-tests/test/wiki.test.ts
Labels: Type: Improvement, Component: Client, Type: Fix

#737 [FEATURE] device module permission
  pandora-client-web/src/components/wardrobe/templateDetail/_wardrobeTemplateDetail.tsx
  pandora-client-web/src/components/wardrobe/wardrobeTypes.ts
  pandora-client-web/src/editor/components/assetInfo/assetInfo.tsx
  pandora-common/src/assets/appearanceActionProcessingContext.ts
  pandora-common/src/assets/appearanceActions.ts
  pandora-common/src/assets/appearanceTypes.ts
  pandora-common/src/assets/definitions.ts
  pandora-common/src/assets/item/lock.ts
  pandora-common/src/assets/item/personal.ts
  pandora-common/src/assets/item/roomDevice.ts
  pandora-common/src/assets/modules.ts
  pandora-common/src/assets/modules/common.ts
  pandora-common/src/assets/modules/lockSlot.ts
  pandora-common/src/assets/modules/storage.ts
  pandora-common/src/assets/modules/typed.ts
  pandora-common/src/character/restrictionsManager.ts
Labels: Type: Feature, Component: Asset framework
