Repository Project-Pandora-Game/pandora, pull requests merged in 2024-02, with the labels that each got.

#562 [FIX] space join dm, pose change for others
  pandora-client-web/src/ui/screens/spaceConfiguration/spaceConfiguration.scss
  pandora-client-web/src/ui/screens/spaceConfiguration/spaceConfiguration.tsx
  pandora-client-web/src/ui/screens/spacesSearch/spacesSearch.tsx
  pandora-common/src/assets/appearanceActionProcessingContext.ts
Labels: Component: Client, Component: Core, Type: Fix

#564 [ADD] Graphics layers for soles
  pandora-client-web/src/assets/assetGraphics.ts
  pandora-client-web/src/components/error/rootErrorBoundary.tsx
  pandora-client-web/src/editor/editor.tsx
  pandora-client-web/src/editor/graphics/layer/setupLayer.tsx
  pandora-client-web/src/graphics/def.ts
  pandora-client-web/src/graphics/graphicsLayer.tsx
  pandora-common/src/assets/graphics/graphics.ts
Labels: Type: Feature, Component: Graphics

#566 [FEATURE] Allow specifying multiple URLs for server connection
  pandora-client-web/src/assets/assetManager.ts
  pandora-client-web/src/components/gameContext/directoryConnectorContextProvider.tsx
  pandora-client-web/src/config/searchArgs.ts
  pandora-client-web/src/editor/index.tsx
  pandora-client-web/src/index.tsx
  pandora-client-web/src/networking/socketio_shard_connector.ts
  pandora-server-shard/src/networking/connection_client.ts
Labels: Type: Feature, Component: Core

#568 [FIX] automatic login issues
  pandora-client-web/src/components/gameContext/directoryConnectorContextProvider.tsx
  pandora-client-web/src/networking/socketio_shard_connector.ts
  pandora-client-web/src/routing/Routes.tsx
  pandora-client-web/src/ui/components/common/freeze.tsx
Labels: Type: Improvement, Component: Client, Type: Fix

#569 [FIX] Fix text input autofocus not working on Firefox
  pandora-client-web/src/common/userInteraction/inputAutofocus.ts
  pandora-client-web/src/components/directMessage/directMessage.tsx
  pandora-client-web/src/components/wardrobe/views/wardrobeAssetView.tsx
  pandora-client-web/src/components/wardrobe/wardrobeItemPreferences.tsx
  pandora-client-web/src/ui/components/chat/chatInput.tsx
  pandora-client-web/src/ui/screens/spaceConfiguration/spaceConfiguration.tsx
Labels: Component: Client, Type: Fix

#570 [FIX] Make official assets address configurable and fix it
  pandora-client-web/.env.template
  pandora-client-web/src/config/Environment.ts
  pandora-client-web/src/config/definition.ts
  pandora-client-web/src/editor/assetLoader.ts
  pandora-client-web/webpack.config.ts
  pandora-tests/test/_setup/global_setup.ts
Labels: Type: Fix, Component: Asset Editor

#565 [FEATURE] space allow list
  pandora-client-web/src/graphics/room/contextMenus/characterContextMenu.tsx
  pandora-client-web/src/ui/components/chat/commands.ts
  pandora-client-web/src/ui/screens/spaceConfiguration/spaceConfiguration.tsx
  pandora-client-web/src/ui/screens/spacesSearch/spacesSearch.tsx
  pandora-common/src/inputLimits.ts
  pandora-common/src/networking/client_directory.ts
  pandora-common/src/space/space.ts
  pandora-server-directory/src/networking/manager_client.ts
  pandora-server-directory/src/spaces/space.ts
  pandora-server-directory/test/spaces/testData.ts
  pandora-server-shard/src/spaces/personalSpace.ts
Labels: Type: Feature, Component: Client, Component: Core, Component: Directory server

#574 [REFACTOR] Simplify character autoconnect logic
  pandora-client-web/src/networking/directoryConnector.ts
  pandora-client-web/src/networking/socketio_directory_connector.ts
  pandora-client-web/src/routing/Routes.tsx
  pandora-client-web/test/mocks/networking/mockDirectoryConnector.ts
  pandora-server-directory/src/account/character.ts
  pandora-server-directory/src/networking/manager_client.ts
Labels: Component: Client, Component: Directory server, Type: Fix

#576 [REMOVE] space password
  pandora-client-web/src/components/directMessage/directMessageCommandContext.tsx
  pandora-client-web/src/ui/screens/spaceConfiguration/spaceConfiguration.tsx
  pandora-client-web/src/ui/screens/spacesSearch/spacesSearch.tsx
  pandora-common/src/inputLimits.ts
  pandora-common/src/networking/client_directory.ts
  pandora-common/src/space/space.ts
  pandora-server-directory/src/account/character.ts
  pandora-server-directory/src/networking/manager_client.ts
  pandora-server-directory/src/spaces/space.ts
  pandora-server-directory/test/spaces/testData.ts
  pandora-server-shard/src/spaces/personalSpace.ts
Labels: Type: Feature, Component: Client, Component: Core, Component: Directory server

#575 [CHANGE] space config UI and wiki updates
  pandora-client-web/src/components/wiki/pages/greeting.tsx
  pandora-client-web/src/components/wiki/pages/history.tsx
  pandora-client-web/src/components/wiki/pages/intro.tsx
  pandora-client-web/src/ui/screens/spaceConfiguration/spaceConfiguration.scss
  pandora-client-web/src/ui/screens/spaceConfiguration/spaceConfiguration.tsx
  pandora-client-web/src/ui/screens/spacesSearch/spacesSearch.tsx
Labels: Type: Improvement, Component: Client

#579 [FEATURE] Full database migration
  pandora-client-web/src/ui/screens/spaceConfiguration/spaceConfiguration.tsx
  pandora-common/src/space/space.ts
  pandora-server-directory/src/config.ts
  pandora-server-directory/src/database/mongoDb.ts
Labels: Type: Feature, Component: Directory server

#581 [FEATURE] Join Me invite for spaces
  pandora-client-web/src/components/directMessage/directMessageCommandContext.tsx
  pandora-client-web/src/ui/screens/spaceConfiguration/spaceConfiguration.tsx
  pandora-common/src/inputLimits.ts
  pandora-common/src/networking/client_directory.ts
  pandora-common/src/space/space.ts
  pandora-server-directory/src/networking/manager_client.ts
  pandora-server-directory/src/spaces/space.ts
Labels: Type: Feature, Component: Client, Component: Core, Component: Directory server

#584 [FIX] Update spaces search progress even after unmount
  pandora-client-web/src/ui/screens/spacesSearch/spacesSearch.tsx
Labels: Component: Client, Type: Fix

#567 [FEATURE] second factor captcha
  pandora-client-web/src/components/gameContext/directoryConnectorContextProvider.tsx
  pandora-client-web/src/components/login/forms/useLoginForm.ts
  pandora-client-web/src/networking/directoryConnector.ts
  pandora-client-web/src/networking/socketio_directory_connector.ts
  pandora-client-web/test/mocks/networking/mockDirectoryConnector.ts
  pandora-common/src/environment.ts
  pandora-common/src/networking/client_directory.ts
  pandora-server-directory/.env.template
  pandora-server-directory/src/config.ts
  pandora-server-directory/src/networking/manager_client.ts
Labels: Type: Feature, Component: Client, Component: Directory server

#585 [CHANGE] adding allow list and space invite topics to wiki
  pandora-client-web/src/components/wiki/pages/intro.tsx
  pandora-client-web/src/components/wiki/pages/spaces.tsx
Labels: Type: Documentation, Component: Client

#587 [CHANGE] fixes incorrect color picker hue jumps and updates wiki
  pandora-client-web/src/components/common/colorInput/colorInput.tsx
  pandora-client-web/src/components/wiki/pages/characters.tsx
  pandora-client-web/src/components/wiki/pages/items.tsx
  pandora-client-web/src/components/wiki/pages/safety.tsx
Labels: Type: Improvement, Component: Client, Type: Fix

#594 [CHANGE] outfit naming in the wiki
  pandora-client-web/src/components/wiki/pages/intro.tsx
  pandora-client-web/src/components/wiki/pages/items.tsx
Labels: Type: Improvement, Component: Client

#595 [FEATURE] Sparse settings
  pandora-client-web/src/components/directMessage/directMessage.tsx
  pandora-client-web/src/components/gameContext/directoryConnectorContextProvider.tsx
  pandora-client-web/src/components/settings/accountSettings.tsx
  pandora-client-web/src/components/settings/helpers/accountSettings.tsx
  pandora-client-web/src/components/settings/helpers/settingsInputs.tsx
  pandora-client-web/src/components/settings/interfaceSettings.tsx
  pandora-client-web/src/components/wardrobe/views/wardrobeOutfitView.tsx
  pandora-client-web/src/components/wardrobe/wardrobeComponents.tsx
  pandora-client-web/src/components/wardrobe/wardrobeContext.tsx
  pandora-client-web/src/components/wardrobe/wardrobeGraphics.tsx
  pandora-client-web/src/graphics/graphicsSettings.tsx
  pandora-client-web/src/graphics/room/roomCharacter.tsx
  pandora-client-web/src/graphics/room/roomScene.tsx
  pandora-client-web/src/ui/components/chat/chat.tsx
  pandora-client-web/src/ui/screens/room/room.tsx
  pandora-common/src/account/index.ts
  pandora-common/src/account/settings.ts
  pandora-common/src/networking/client_directory.ts
  pandora-common/src/networking/directory_client.ts
  pandora-server-directory/src/account/account.ts
  pandora-server-directory/src/account/accountContacts.ts
  pandora-server-directory/src/account/accountDirectMessages.ts
  pandora-server-directory/src/database/databaseProvider.ts
  pandora-server-directory/src/database/databaseStructure.ts
  pandora-server-directory/src/networking/manager_client.ts
Labels: Type: Feature, Component: Client, Component: Core

#589 [FEATURE] device enter/leave permission
  pandora-client-web/src/assets/icons/device.svg
  pandora-client-web/src/components/settings/permissionsSettings.tsx
  pandora-common/src/assets/appearanceActions.ts
  pandora-common/src/gameLogic/interactions/_interactionConfig.ts
  pandora-server-directory/src/database/databaseProvider.ts
  pandora-server-directory/src/database/mockDb.ts
  pandora-server-directory/src/database/mongoDb.ts
  pandora-server-directory/src/spaces/spaceManager.ts
Labels: Type: Feature, Component: Core
