Repository Project-Pandora-Game/pandora, pull requests merged in 2025-03, with the labels that each got.

#913 [FEATURE] Added timer functionality to locks
  pandora-client-web/src/assets/appearanceValidation.ts
  pandora-client-web/src/components/wardrobe/modules/wardrobeModuleLockSlot.tsx
  pandora-common/src/assets/modules.ts
  pandora-common/src/gameLogic/actionLogic/actionUtils.ts
  pandora-common/src/gameLogic/locks/lockData.ts
  pandora-common/src/gameLogic/locks/lockLogic.ts
  pandora-common/src/gameLogic/locks/lockSetup.ts
Labels: Type: Feature, Component: Asset framework

#915 [ADD] More timer locks
  pandora-client-web/src/components/wardrobe/views/wardrobeLockLogic.tsx
  pandora-common/src/gameLogic/characterModifiers/characterModifierLocks.ts
Labels: Type: Improvement, Component: Client, Component: Core

#917 [CHORE] Update routing code
  .github/pull_request_template.md
  jest.config.cjs
  pandora-client-web/jest.config.js
  pandora-client-web/src/components/common/form/form.tsx
  pandora-client-web/src/components/common/link/externalLink.tsx
  pandora-client-web/src/components/common/tabs/tabs.tsx
  pandora-client-web/src/components/directMessage/directMessageCommandContext.tsx
  pandora-client-web/src/components/directMessages/directMessages.tsx
  pandora-client-web/src/components/profileScreens/profileScreens.tsx
  pandora-client-web/src/components/wiki/pages/contact.tsx
  pandora-client-web/src/components/wiki/pages/history.tsx
  pandora-client-web/src/editor/index.tsx
  pandora-client-web/src/index.tsx
  pandora-client-web/src/routing/Routes.tsx
  pandora-client-web/src/routing/config.ts
  pandora-client-web/src/routing/routingUtils.ts
  pandora-client-web/src/ui/screens/spaceConfiguration/spaceConfiguration.tsx
  pandora-client-web/src/ui/screens/spaceJoin/spaceJoin.tsx
  pandora-client-web/src/ui/screens/spacesSearch/spacesSearch.tsx
  pandora-client-web/test/testUtils.tsx
  pandora-common/jest.config.js
  pandora-server-directory/jest.config.js
  pandora-server-shard/jest.config.js
Labels: Type: Improvement, Component: Client

#918 [CHANGE] Use assets for modifiers locking
  pandora-client-web/src/components/wardrobe/views/characterModifiers/characterModifierInstanceLock.tsx
  pandora-client-web/src/components/wardrobe/wardrobeEffectsModifiers.tsx
  pandora-client-web/src/components/wiki/pages/characters.tsx
  pandora-common/src/assets/item/lock.ts
  pandora-common/src/chat/chatActions.ts
  pandora-common/src/gameLogic/actionLogic/appearanceActionProcessingContext.ts
  pandora-common/src/gameLogic/actionLogic/characterModifierActions.ts
  pandora-common/src/gameLogic/assetPreferences/assetPreferencesSubsystemServer.ts
  pandora-common/src/gameLogic/character/characterServer.ts
  pandora-common/src/gameLogic/characterModifiers/characterModifierData.ts
  pandora-common/src/gameLogic/characterModifiers/characterModifierInstance.ts
  pandora-common/src/gameLogic/characterModifiers/characterModifierLocks.ts
  pandora-common/src/gameLogic/characterModifiers/characterModifiersSubsystemServer.ts
  pandora-common/src/gameLogic/locks/lockLogic.ts
  pandora-server-shard/src/character/character.ts
  pandora-server-shard/src/networking/manager_client.ts
Labels: Type: Improvement, Component: Asset framework

#919 [CHORE] Removed "occupied" from possible lock slot states
  pandora-common/src/assets/modules/lockSlot.ts
Labels: Type: Improvement, Component: Asset framework

#922 [FIX] Update graphics code after latest pixi.js changes
  package.json
  pandora-client-web/src/editor/graphics/export/imageExporter.ts
  pandora-client-web/src/graphics/graphicsCharacter.tsx
  pandora-client-web/src/graphics/layers/graphicsLayerAlphaImageMesh.tsx
  pandora-client-web/src/graphics/layers/graphicsLayerCommon.tsx
  pandora-client-web/src/graphics/layers/graphicsLayerMesh.tsx
  pandora-client-web/src/graphics/room/roomCharacter.tsx
  pandora-common/src/assets/state/characterStateTypes.ts
Labels: Component: Tooling, Component: Graphics, Type: Fix
