Repository Project-Pandora-Game/pandora, pull requests merged in 2025-06, with the labels that each got.

#947 [FEATURE] Legs split
  .vscode/launch.json
  pandora-client-web/src/components/wardrobe/poseDetail/storedPosePresets.tsx
  pandora-client-web/src/components/wardrobe/views/wardrobePoseView.tsx
  pandora-client-web/src/components/wiki/pages/characters.tsx
  pandora-client-web/src/editor/assets/editorAssetGraphics.ts
  pandora-client-web/src/editor/components/asset/asset.scss
  pandora-client-web/src/editor/components/asset/asset.tsx
  pandora-client-web/src/editor/components/layer/layer.tsx
  pandora-client-web/src/editor/components/previewCutter/previewCutter.tsx
  pandora-client-web/src/graphics/appearanceConditionEvaluator.ts
  pandora-client-web/src/graphics/def.ts
  pandora-client-web/src/graphics/room/roomCharacter.tsx
  pandora-client-web/src/ui/components/chat/commands.ts
  pandora-common/src/assets/appearance.ts
  pandora-common/src/assets/appearanceLimit.ts
  pandora-common/src/assets/definitions.ts
  pandora-common/src/assets/graphics/conditions.ts
  pandora-common/src/assets/graphics/layers/common.ts
  pandora-common/src/assets/graphicsBuilding/graphicsBuildAutoMeshLayer.ts
  pandora-common/src/assets/graphicsSource/layers/autoMesh.ts
  pandora-common/src/assets/state/characterStatePose.ts
  pandora-common/src/gameLogic/actionLogic/actions/pose.ts
  pandora-common/test/assets/_testData/testPosePresets.ts
  pandora-common/test/assets/_testData/testRandomizationConfig.ts
Labels: Type: Feature, Component: Graphics

#948 [FIX] Drop invalid pose preset parts instead of dropping all presets
  pandora-common/src/assets/state/characterStatePose.ts
  pandora-server-directory/src/database/databaseStructure.ts
Labels: Component: Directory server, Type: Fix, Priority: High

#926 [ADD] Card deck
  pandora-client-web/src/ui/components/chat/commands.ts
  pandora-common/src/character/characterData.ts
  pandora-common/src/chat/chatActions.ts
  pandora-common/src/networking/client_shard.ts
  pandora-common/src/utility/cards.ts
  pandora-common/src/utility/index.ts
  pandora-server-shard/src/networking/manager_client.ts
  pandora-server-shard/src/spaces/space.ts
Labels: Type: Feature, Component: Client

#958 [FIX] Refetch stored pose presets when current account changes
  pandora-client-web/src/components/gameContext/directoryConnectorContextProvider.tsx
  pandora-client-web/src/components/wardrobe/poseDetail/customPosePresetStorage.ts
  pandora-client-web/src/components/wardrobe/poseDetail/storedPosePresets.tsx
  pandora-client-web/src/components/wardrobe/views/wardrobeOutfitView.tsx
  pandora-client-web/src/networking/directoryConnector.ts
  pandora-client-web/test/components/gameContext/directoryConnectorContextProvider.test.ts
Labels: Component: Client, Type: Fix
