Repository Project-Pandora-Game/pandora, pull requests merged in 2025-09, with the labels that each got.

#984 [CHANGE] removed asset properties blockSelfAddRemove & blockSelfModules
  pandora-client-web/src/assets/appearanceValidation.tsx
  pandora-client-web/src/ui/screens/room/roomItemDialog.tsx
  pandora-common/src/assets/properties.ts
  pandora-common/src/assets/roomDeviceProperties.ts
  pandora-common/src/character/restrictionTypes.ts
  pandora-common/src/character/restrictionsManager.ts
  pandora-common/src/gameLogic/actionLogic/characterModifierActions.ts
Labels: Type: Improvement, Component: Asset framework

#985 [FIX] Properly make use of device pixel ratio
  pandora-client-web/src/assets/assetGraphicsCalculations.ts
  pandora-client-web/src/assets/editor/dotTexture.png
  pandora-client-web/src/common/userInteraction/switch.tsx
  pandora-client-web/src/components/dialog/dialog.tsx
  pandora-client-web/src/components/settings/graphicsSettings.tsx
  pandora-client-web/src/components/wardrobe/views/wardrobeOutfitView.tsx
  pandora-client-web/src/components/wardrobe/views/wardrobePoseView.tsx
  pandora-client-web/src/editor/components/points/points.tsx
  pandora-client-web/src/editor/graphics/draggable.tsx
  pandora-client-web/src/editor/graphics/layer/resultLayer.tsx
  pandora-client-web/src/editor/index.tsx
  pandora-client-web/src/editor/services/editorServices.ts
  pandora-client-web/src/graphics/graphicsAppManager.ts
  pandora-client-web/src/graphics/graphicsScene.tsx
  pandora-client-web/src/graphics/graphicsSceneRenderer.tsx
  pandora-client-web/src/graphics/utility/dotGraphics.tsx
  pandora-client-web/src/graphics/utility/renderInBackground.tsx
  pandora-client-web/src/services/clientServices.ts
  pandora-client-web/src/services/screenResolution/screenResolution.ts
  pandora-client-web/src/services/screenResolution/screenResolutionHooks.ts
  pandora-client-web/src/ui/screens/room/roomControls.tsx
  pandora-client-web/src/ui/screens/room/roomItemDialog.tsx
  pandora-client-web/src/ui/screens/spaceConfiguration/backgroundSelect.tsx
  pandora-client-web/src/ui/screens/spaceConfiguration/spaceStateConfiguration.tsx
Labels: Component: Client, Component: Graphics, Type: Fix

#992 [FIX] Several fixes and new priority layer
  eslint.config.js
  pandora-client-web/src/graphics/def.ts
  pandora-client-web/src/graphics/room/roomDevice.tsx
  pandora-client-web/src/networking/socketio_connector.ts
  pandora-common/src/account/accountRoles.ts
  pandora-common/src/account/settings.ts
  pandora-common/src/assets/definitions.ts
  pandora-common/src/assets/graphics/graphics.ts
  pandora-common/src/assets/graphics/layers/common.ts
  pandora-common/src/assets/graphics/points.ts
  pandora-common/src/assets/graphicsSource/layers/alphaImageMesh.ts
  pandora-common/src/assets/graphicsSource/layers/mesh.ts
  pandora-common/src/assets/graphicsSource/layers/text.ts
  pandora-common/src/assets/item/_internal.ts
  pandora-common/src/assets/item/roomDevice.ts
  pandora-common/src/assets/state/characterStatePose.ts
  pandora-common/src/assets/state/globalState.ts
  pandora-common/src/character/assetPreferences.ts
  pandora-common/src/character/characterData.ts
  pandora-common/src/client/notifications.ts
  pandora-common/src/gameLogic/assetPreferences/assetPreferencesSubsystemServer.ts
  pandora-common/src/gameLogic/characterModifiers/characterModifierData.ts
  pandora-common/src/networking/client_directory.ts
  pandora-common/src/networking/client_shard.ts
  pandora-common/src/networking/connection.ts
  pandora-common/src/space/space.ts
  pandora-server-directory/src/config.ts
  pandora-server-directory/src/database/databaseStructure.ts
  pandora-server-directory/src/database/mockDb.ts
  pandora-server-directory/src/database/mongoDb.ts
Labels: Type: Improvement, Component: Core, Type: Fix, Component: Asset framework

#996 [ADD] Movement and chat improvements, asset info
  pandora-client-web/src/assets/icons/info.svg
  pandora-client-web/src/assets/icons/source-code.svg
  pandora-client-web/src/common/useTextFormattingOnKeyboardEvent.ts
  pandora-client-web/src/common/userInteraction/input/inputBase.tsx
  pandora-client-web/src/common/userInteraction/inputAutofocus.ts
  pandora-client-web/src/components/Eula/privacyPolicy.tsx
  pandora-client-web/src/components/gameContext/gameStateContextProvider.tsx
  pandora-client-web/src/components/login/forms/registrationForm.tsx
  pandora-client-web/src/components/wardrobe/assetDetail/wardrobeAssetDetail.tsx
  pandora-client-web/src/components/wardrobe/itemDetail/_wardrobeItemDetail.tsx
  pandora-client-web/src/components/wardrobe/templateDetail/_wardrobeTemplateDetail.tsx
  pandora-client-web/src/components/wardrobe/views/characterModifiers/conditions/conditionItemOfAsset.tsx
  pandora-client-web/src/components/wardrobe/views/wardrobeAssetView.tsx
  pandora-client-web/src/components/wardrobe/views/wardrobePoseView.tsx
  pandora-client-web/src/components/wardrobe/wardrobe.scss
  pandora-client-web/src/components/wardrobe/wardrobeItemPreferences.tsx
  pandora-client-web/src/editor/assets/assetManager.ts
  pandora-client-web/src/graphics/room/contextMenus/characterContextMenu.tsx
  pandora-client-web/src/graphics/room/roomCharacter.tsx
  pandora-client-web/src/graphics/room/roomCharacterPosing.tsx
  pandora-client-web/src/graphics/room/roomLinkNodeGraphics.tsx
  pandora-client-web/src/styles/_typography.scss
  pandora-client-web/src/ui/components/chat/chatInput.tsx
  pandora-client-web/src/ui/components/chat/commandHelpers/gameAction.tsx
  pandora-client-web/src/ui/components/chat/commands.ts
  pandora-client-web/src/ui/components/chat/commands/moveto.ts
  pandora-client-web/src/ui/components/chat/commands/posemanual.ts
  pandora-client-web/src/ui/components/chat/commandsProcessor.ts
  pandora-client-web/src/ui/screens/room/roomPermissionChecks.tsx
  pandora-common/src/assets/definitions.ts
  pandora-common/src/chat/chat.ts
  pandora-common/src/commands/builder.ts
  pandora-common/src/commands/executor.ts
  pandora-common/src/networking/shard_client.ts
  pandora-common/src/utility/formatting.ts
  pandora-common/test/assets/_testData/assets/body/back_hair_long.test_asset.ts
  pandora-common/test/assets/_testData/assets/body/back_hair_normal.test_asset.ts
  pandora-common/test/assets/_testData/assets/body/back_hair_short.test_asset.ts
  pandora-common/test/assets/_testData/assets/body/base.test_asset.ts
  pandora-common/test/assets/_testData/assets/body/eyes.test_asset.ts
  pandora-common/test/assets/_testData/assets/body/eyes2.test_asset.ts
  pandora-common/test/assets/_testData/assets/body/front_hair1.test_asset.ts
  pandora-common/test/assets/_testData/assets/body/front_hair2.test_asset.ts
  pandora-common/test/assets/_testData/assets/body/head.test_asset.ts
  pandora-common/test/assets/_testData/assets/body/lips.test_asset.ts
  pandora-common/test/assets/_testData/assets/headwear/top_hat.test_asset.ts
  pandora-common/test/assets/_testData/assets/panties/style1.test_asset.ts
  pandora-server-directory/src/spaces/space.ts
  pandora-server-shard/src/character/character.ts
  pandora-server-shard/src/networking/connection_client.ts
  pandora-server-shard/src/networking/manager_client.ts
  pandora-server-shard/src/spaces/space.ts
Labels: Type: Improvement, Type: Feature, Component: Client, Type: Fix

#994 [ADD] more tutorials and refinement of existing ones
  pandora-client-web/src/components/accountContacts/accountContacts.tsx
  pandora-client-web/src/components/characterRestrictionOverride/characterRestrictionOverride.tsx
  pandora-client-web/src/components/common/tabs/tabs.scss
  pandora-client-web/src/components/common/tabs/tabs.tsx
  pandora-client-web/src/components/directMessage/directMessage.tsx
  pandora-client-web/src/components/directMessage/directMessageCommandContext.tsx
  pandora-client-web/src/components/settings/graphicsSettings.tsx
  pandora-client-web/src/components/settings/permissionsSettings.tsx
  pandora-client-web/src/components/wardrobe/assetDetail/wardrobeAssetDetail.tsx
  pandora-client-web/src/components/wardrobe/views/characterModifiers/characterModifierInstanceDetailsView.tsx
  pandora-client-web/src/components/wardrobe/views/wardrobeOutfitEditView.tsx
  pandora-client-web/src/components/wardrobe/views/wardrobeOutfitView.tsx
  pandora-client-web/src/components/wardrobe/wardrobe.tsx
  pandora-client-web/src/components/wiki/pages/characters.tsx
  pandora-client-web/src/components/wiki/pages/intro.tsx
  pandora-client-web/src/components/wiki/pages/items.tsx
  pandora-client-web/src/components/wiki/pages/new.tsx
  pandora-client-web/src/components/wiki/pages/spaces.tsx
  pandora-client-web/src/editor/components/layer/layerAutoMesh.tsx
  pandora-client-web/src/graphics/layers/graphicsLayerText.tsx
  pandora-client-web/src/graphics/movementHelper.tsx
  pandora-client-web/src/graphics/room/roomCharacterPosing.tsx
  pandora-client-web/src/graphics/utility/inverseKinematics.ts
  pandora-client-web/src/styles/_theming.scss
  pandora-client-web/src/styles/_typography.scss
  pandora-client-web/src/ui/components/chat/chatInput.tsx
  pandora-client-web/src/ui/components/chat/commandsHelpers.ts
  pandora-client-web/src/ui/screens/spaceConfiguration/spaceConfiguration.tsx
  pandora-client-web/src/ui/tutorial/privateTutorialsList.tsx
  pandora-client-web/src/ui/tutorial/tutorialSystem/activeTutorialUi.tsx
  pandora-client-web/src/ui/tutorial/tutorials/characterModifiers.tsx
  pandora-client-web/src/ui/tutorial/tutorials/permissions.tsx
  pandora-client-web/src/ui/tutorial/tutorials/room.tsx
  pandora-client-web/src/ui/tutorial/tutorials/roomDevices.tsx
  pandora-client-web/src/ui/tutorial/tutorials/safemode.tsx
  pandora-client-web/src/ui/tutorial/tutorials/settingsProfile.tsx
  pandora-client-web/src/ui/tutorial/tutorials/spaceManagement.tsx
  pandora-client-web/src/ui/tutorial/tutorials/wardrobeBody.tsx
  pandora-client-web/src/ui/tutorial/tutorials/wardrobeItemCollections.tsx
  pandora-client-web/src/ui/tutorial/tutorials/wardrobeItems.tsx
  pandora-client-web/src/ui/tutorial/tutorials/wardrobeItemsAdvanced.tsx
  pandora-client-web/src/ui/tutorial/tutorials/wardrobeLocksStorages.tsx
  pandora-client-web/src/ui/tutorial/tutorials/wardrobePoseExpressions.tsx
  pandora-client-web/src/ui/tutorial/tutorials/wardrobeRoomInventory.tsx
  pandora-common/src/account/tutorials.ts
  pandora-common/src/assets/appearanceLimit.ts
  pandora-common/src/assets/graphicsBuilding/graphicsBuildAutoMeshLayer.ts
  pandora-common/src/assets/graphicsSource/layers/autoMesh.ts
  pandora-common/src/gameLogic/interactions/_interactionConfig.ts
  pandora-common/src/inputLimits.ts
  pandora-server-directory/src/networking/manager_shard.ts
  pandora-server-directory/src/shard/shard.ts
  pandora-server-shard/src/character/character.ts
  pandora-server-shard/src/networking/socketio_directory_connector.ts
  pandora-server-shard/src/spaces/space.ts
  pandora-server-shard/src/spaces/spaceManager.ts
Labels: Type: Improvement, Type: Feature, Component: Client

#997 [FIX] Add scrollbar to modifier type details
  pandora-client-web/src/components/wardrobe/views/characterModifiers/characterModifierTypeDetailsView.tsx
Labels: Component: Client, Type: Fix

#998 [CHANGE] Game logic performance optimizations
  pandora-client-web/src/common/calculationQueue.ts
  pandora-client-web/src/components/wardrobe/views/wardrobePoseView.tsx
  pandora-client-web/src/components/wardrobe/wardrobeCheckQueue.ts
  pandora-common/src/assets/appearanceLimit.ts
  pandora-common/src/assets/appearanceValidation.ts
  pandora-common/src/assets/properties.ts
  pandora-common/src/assets/roomValidation.ts
  pandora-common/src/assets/state/characterState.ts
  pandora-common/src/logging/logger.ts
  pandora-common/src/utility/misc.ts
Labels: Type: Improvement, Component: Client, Component: Asset framework
