Repository Project-Pandora-Game/pandora, pull requests merged in 2025-01, with the labels that each got.

#861 [ADD] improved existing tutorials and added three new ones
  pandora-client-web/src/components/dialog/dialog.scss
  pandora-client-web/src/components/dialog/dialog.tsx
  pandora-client-web/src/components/wardrobe/poseDetail/storedPosePresets.tsx
  pandora-client-web/src/components/wardrobe/views/wardrobeRandomizationView.tsx
  pandora-client-web/src/components/wardrobe/wardrobeComponents.tsx
  pandora-client-web/src/components/wiki/pages/greeting.tsx
  pandora-client-web/src/components/wiki/pages/history.tsx
  pandora-client-web/src/components/wiki/pages/intro.tsx
  pandora-client-web/src/components/wiki/pages/items.tsx
  pandora-client-web/src/components/wiki/wiki.scss
  pandora-client-web/src/styles/_theming.scss
  pandora-client-web/src/styles/_typography.scss
  pandora-client-web/src/ui/screens/spacesSearch/spacesSearch.tsx
  pandora-client-web/src/ui/tutorial/tutorialSystem/activeTutorialUi.tsx
  pandora-client-web/src/ui/tutorial/tutorialSystem/tutorialConfig.ts
  pandora-client-web/src/ui/tutorial/tutorialSystem/tutorialRunner.ts
  pandora-client-web/src/ui/tutorial/tutorials/room.tsx
  pandora-client-web/src/ui/tutorial/tutorials/safemode.tsx
  pandora-client-web/src/ui/tutorial/tutorials/tutorials.tsx
  pandora-client-web/src/ui/tutorial/tutorials/wardrobeBody.tsx
  pandora-client-web/src/ui/tutorial/tutorials/wardrobeItems.tsx
  pandora-client-web/src/ui/tutorial/tutorials/wardrobePoseExpressions.tsx
  pandora-common/src/gameLogic/actionLogic/actions/randomize.ts
  pandora-common/src/utility/misc.ts
Labels: Type: Improvement, Status: Discussion needed, Component: Client

#879 [FIX] Specify imported dependencies as dependencies, not devDependencies
  pandora-client-web/package.json
  pandora-common/.eslintrc.json
  pandora-server-shard/package.json
  pnpm-lock.yaml
Labels: Component: Tooling, Type: Fix

#880 [CHORE] Update to Node.js 22 and TypeScript 5.7
  .github/renovate.json
  .github/workflows/ci.yml
  .nvmrc
  Dockerfile
  package.json
  pandora-client-web/README.md
  pandora-client-web/package.json
  pandora-client-web/src/crypto/helpers.ts
  pandora-common/package.json
  pandora-server-directory/package.json
  pandora-server-shard/package.json
  pandora-tests/package.json
  patches/pixi.js.patch
  pnpm-lock.yaml
Labels: Type: Improvement, Component: Tooling

#882 [CHORE] Migrate to SASS modules
  pandora-client-web/package.json
  pandora-client-web/src/common/anchorHighlight.scss
  pandora-client-web/src/components/Eula/eula.scss
  pandora-client-web/src/components/accountContacts/accountContacts.scss
  pandora-client-web/src/components/characterCreate/characterCreate.scss
  pandora-client-web/src/components/characterSelect/characterSelect.scss
  pandora-client-web/src/components/common/button/button.scss
  pandora-client-web/src/components/common/button/domIcons.scss
  pandora-client-web/src/components/common/colorInput/colorInput.scss
  pandora-client-web/src/components/common/container/container.scss
  pandora-client-web/src/components/common/fieldsetToggle/fieldsetToggle.scss
  pandora-client-web/src/components/common/form/form.scss
  pandora-client-web/src/components/common/scrollbar/scrollbar.scss
  pandora-client-web/src/components/common/selectionIndicator/selectionIndicator.scss
  pandora-client-web/src/components/common/tabs/tabs.scss
  pandora-client-web/src/components/contextMenu/contextMenu.scss
  pandora-client-web/src/components/dialog/dialog.scss
  pandora-client-web/src/components/directMessages/directMessages.scss
  pandora-client-web/src/components/error/localErrorBoundary.scss
  pandora-client-web/src/components/error/rootErrorBoundary.scss
  pandora-client-web/src/components/header/HeaderButton.scss
  pandora-client-web/src/components/header/header.scss
  pandora-client-web/src/components/header/leaveButton.scss
  pandora-client-web/src/components/login/authForm.scss
  pandora-client-web/src/components/login/loginTeaser.scss
  pandora-client-web/src/components/management/roles/roles.scss
  pandora-client-web/src/components/management/shards/shards.scss
  pandora-client-web/src/components/profileScreens/profileScreens.scss
  pandora-client-web/src/components/settings/settings.scss
  pandora-client-web/src/components/wardrobe/itemDetail/_wardrobeItemDetail.tsx
  pandora-client-web/src/components/wardrobe/poseDetail/storedPosePresets.scss
  pandora-client-web/src/components/wardrobe/wardrobe.scss
  pandora-client-web/src/components/wiki/wiki.scss
  pandora-client-web/src/editor/components/asset/asset.scss
  pandora-client-web/src/editor/components/assets/assets.scss
  pandora-client-web/src/editor/editor.scss
  pandora-client-web/src/index.scss
  pandora-client-web/src/styles/_common.scss
  pandora-client-web/src/styles/_forms.scss
  pandora-client-web/src/styles/_theming.scss
  pandora-client-web/src/styles/_typography.scss
  pandora-client-web/src/styles/_utils.scss
  pandora-client-web/src/styles/globalUtils.scss
  pandora-client-web/src/ui/screens/room/chatArea.scss
  pandora-client-web/src/ui/screens/room/room.scss
  pandora-client-web/src/ui/screens/spaceConfiguration/spaceConfiguration.scss
  pandora-client-web/src/ui/screens/spaceJoin/spaceJoin.scss
  pandora-client-web/src/ui/screens/spacesSearch/spacesSearch.scss
  pandora-client-web/src/ui/tutorial/tutorialSystem/tutorialUi.scss
  pandora-client-web/webpack.config.ts
  pnpm-lock.yaml
Labels: Type: Improvement, Component: Tooling

#887 [FIX] Pose limit should sort values after translating them from enum
  pandora-common/src/assets/appearanceLimit.ts
Labels: Type: Fix, Component: Asset framework

#889 [ADD] Editor preview generation automatic layer state overrides
  pandora-client-web/src/components/dialog/dialog.tsx
  pandora-client-web/src/editor/components/previewCutter/previewCutter.tsx
  pandora-client-web/src/editor/editor.tsx
  pandora-client-web/src/editor/graphics/character/editorCharacter.tsx
  pandora-client-web/src/editor/graphics/editorScene.tsx
  pandora-client-web/src/editor/graphics/export/imageExporter.ts
  pandora-client-web/src/graphics/def.ts
  pandora-client-web/src/graphics/graphicsCharacter.tsx
  pandora-client-web/src/graphics/graphicsLayer.tsx
  pandora-client-web/src/graphics/graphicsScene.tsx
  pandora-common/src/assets/graphics/graphics.ts
Labels: Type: Feature, Component: Asset Editor

#890 [DEV] Migrate ESLint config to flat format
  .github/workflows/ci.yml
  .hooks/coverage-collect.cjs
  .hooks/postinstall.cjs
  .vscode/settings.json
  eslint.config.js
  jest.config.cjs
  package.json
  pandora-client-web/.eslintrc.json
  pandora-client-web/package.json
  pandora-client-web/src/common/clipboard.ts
  pandora-client-web/src/editor/editor.tsx
  pandora-client-web/src/graphics/room/roomCharacter.tsx
  pandora-common/.eslintrc.json
  pandora-common/package.json
  pandora-server-directory/.eslintrc.json
  pandora-server-directory/package.json
  pandora-server-shard/.eslintrc.json
  pandora-server-shard/package.json
  pandora-tests/.eslintrc.json
  pandora-tests/package.json
  pnpm-lock.yaml
Labels: Type: Improvement, Component: Tooling

#891 [ADD] Allow for positioning arms above or below hair
  pandora-client-web/src/assets/appearanceValidation.ts
  pandora-client-web/src/components/wardrobe/views/wardrobePoseView.tsx
  pandora-client-web/src/components/wiki/pages/items.tsx
  pandora-client-web/src/editor/graphics/export/imageExporter.ts
  pandora-client-web/src/graphics/def.ts
  pandora-client-web/src/graphics/graphicsCharacter.tsx
  pandora-client-web/src/ui/screens/spacesSearch/spacesSearch.tsx
  pandora-common/src/assets/graphics/conditions.ts
Labels: Type: Feature, Component: Asset framework
