Repository Project-Pandora-Game/pandora, pull requests merged in 2025-04, with the labels that each got.

#927 [FEATURE] Chat command subcommand forking
  pandora-client-web/src/ui/components/chat/commands.ts
  pandora-client-web/src/ui/components/chat/commandsHelpers.ts
  pandora-common/src/commands/builder.ts
  pandora-common/src/commands/executor.ts
  pandora-common/src/commands/index.ts
  pandora-common/src/commands/selectors.ts
Labels: Type: Feature, Component: Client

#924 [FEATURE] Setting to disallow early timer unlock
  pandora-client-web/src/components/wardrobe/views/wardrobeLockLogic.tsx
  pandora-common/src/gameLogic/actionLogic/actionUtils.ts
  pandora-common/src/gameLogic/locks/lockData.ts
  pandora-common/src/gameLogic/locks/lockLogic.ts
Labels: Type: Feature, Component: Client, Component: Core

#928 [FIX] typo and login teaser layout
  pandora-client-web/src/components/login/loginTeaser.scss
  pandora-client-web/src/components/login/loginTeaser.tsx
  pandora-client-web/src/editor/assets/editorAssetGraphicsBuilding.ts
  pandora-client-web/src/editor/assets/editorAssetGraphicsManager.ts
  pandora-client-web/src/editor/components/layer/layerMesh.tsx
  pandora-client-web/src/editor/graphics/pointTemplateEditor.tsx
Labels: Type: Improvement, Component: Client, Type: Fix

#930 [FIX] Use lite preset for CSS nano
  pandora-client-web/package.json
  pandora-client-web/webpack.config.ts
  pnpm-lock.yaml
Labels: Component: Tooling, Component: Client, Type: Fix

#931 [FEATURE] Pose presets previews
  pandora-client-web/src/common/useAutoScroll.ts
  pandora-client-web/src/components/common/button/button.scss
  pandora-client-web/src/components/settings/interfaceSettings.tsx
  pandora-client-web/src/components/wardrobe/modules/wardrobeModuleTyped.tsx
  pandora-client-web/src/components/wardrobe/poseDetail/storedPosePresets.tsx
  pandora-client-web/src/components/wardrobe/views/wardrobeExpressionsView.tsx
  pandora-client-web/src/components/wardrobe/views/wardrobePoseView.tsx
  pandora-client-web/src/components/wardrobe/wardrobe.scss
  pandora-client-web/src/components/wardrobe/wardrobe.tsx
  pandora-client-web/src/components/wiki/pages/characters.tsx
  pandora-client-web/src/editor/assets/editorAssetGraphicsBuilding.ts
  pandora-client-web/src/editor/components/bones/bones.tsx
  pandora-client-web/src/editor/components/layer/layerMesh.tsx
  pandora-client-web/src/editor/editor.tsx
  pandora-client-web/src/graphics/graphicsAppManager.ts
  pandora-client-web/src/graphics/graphicsCharacter.tsx
  pandora-client-web/src/graphics/graphicsSceneRenderer.tsx
  pandora-client-web/src/graphics/reconciler/reconciler.ts
  pandora-client-web/src/graphics/utility/renderInBackground.tsx
  pandora-client-web/src/styles/globalUtils.scss
  pandora-client-web/src/styles/mediaQueries.ts
  pandora-client-web/src/ui/components/chat/chat.tsx
  pandora-client-web/src/ui/screens/room/room.tsx
  pandora-client-web/src/ui/screens/spaceConfiguration/spaceConfiguration.scss
  pandora-client-web/src/ui/screens/spacesSearch/spacesSearch.scss
  pandora-client-web/src/ui/tutorial/tutorials/wardrobePoseExpressions.tsx
  pandora-common/src/account/settings.ts
  pandora-common/src/assets/assetManager.ts
  pandora-common/src/assets/state/characterStatePose.ts
  pandora-common/src/networking/client_directory.ts
  pandora-server-directory/src/networking/manager_client.ts
Labels: Type: Feature, Component: Client, Component: Asset framework

#935 [ADD] character preview in the header bar
  pandora-client-web/src/components/header/Header.tsx
  pandora-client-web/src/components/header/header.scss
  pandora-client-web/src/styles/_theming.scss
  pandora-client-web/src/ui/screens/room/characterPreviewGeneration.tsx
Labels: Type: Feature, Component: Client
