Repository Project-Pandora-Game/pandora, pull requests merged in 2025-08, with the labels that each got.

#971 [DEV] Drop dotenv in favor of using Node.js builtin
  pandora-client-web/package.json
  pandora-client-web/webpack.config.ts
  pandora-server-directory/package.json
  pandora-server-shard/package.json
  pnpm-lock.yaml
Labels: Type: Improvement, Component: Tooling

#975 [ADD] new character modifier to prevent changing own pose
  pandora-client-web/src/ui/screens/room/roomItemDialog.tsx
  pandora-client-web/src/ui/screens/spacesSearch/spaceDetails.tsx
  pandora-common/src/gameLogic/characterModifiers/modifierTypes/_index.ts
  pandora-common/src/gameLogic/characterModifiers/modifierTypes/block_changing_pose_self.ts
Labels: Type: Feature, Component: Client, Type: Fix

#980 [FIX] Crash fix in render when mesh changes size and prevent non-admin moving deployed room devices
  pandora-client-web/src/editor/graphics/export/imageExporter.ts
  pandora-client-web/src/graphics/baseComponents/customMesh.tsx
  pandora-client-web/src/graphics/baseComponents/mesh.tsx
  pandora-client-web/src/graphics/graphicsSceneRenderer.tsx
  pandora-client-web/src/graphics/room/roomScene.tsx
  pandora-common/src/assets/item/_internal.ts
  pandora-common/src/assets/item/bodypart.ts
  pandora-common/src/assets/item/roomDevice.ts
  pandora-common/src/assets/item/roomDeviceWearablePart.ts
  pandora-common/src/gameLogic/actionLogic/actions/transfer.ts
Labels: Component: Client, Type: Fix, Component: Asset framework
